<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/UI/layout/main_layout}"
      >
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>개발을 꿈꾸는 항공사</title>


</head>

<body layout:fragment="content">

    <div class="container">
        <h1 style="text-align: center;">탑승객 정보입력</h1>
        <h2 style="text-align: center;">신분증 정보와 동일하게 입력해주세요.</h2>

        <br><br><br>

        <form action="/booking/info" method="post">
          <th:block th:with="count=${booking.pasCount}">
            <th:block th:each="i : ${#numbers.sequence(1, count)}">
              <h2>탑승객 <span th:text="${i}"></span></h2>
              <br>
              <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
              <input type="hidden" name="productNoDep" th:value="${booking.productNoDep}" />
              <input type="hidden" name="productIdDep" th:value="${booking.productIdDep}" />
              <input type="hidden" name="productNoDes" th:value="${booking.productNoDes}" />
              <input type="hidden" name="productIdDes" th:value="${booking.productIdDes}" />
            
    
              <div class="input-group mb-3 row">
                <label class="input-group-text col-md-2" id="">이름</label>
                <input type="text" class="form-control col-md-10" th:name="'bookingList.passengerName' + ${i}">
                <!-- name="passengerName" > -->
              </div>

              <div class="input-group mb-3 row">
                <label class="input-group-text col-md-2" id="">이름(영문)</label>
                <input type="text" class="form-control col-md-10" th:name="'bookingList.firstName' + ${i}"> 
                <!-- name="firstName" > -->
              </div>

              <div class="input-group mb-3 row">
                <label class="input-group-text col-md-2" id="">성(영문)</label>
                <input type="text" class="form-control col-md-10" th:name="'bookingList.lastName' + ${i}">
                <!-- name="lastName" > -->
              </div>


              <div class="radio-row" style="margin-bottom: 20px;">
                <label class="radio-container m-r-45">남자
                  <input type="radio" th:name="'bookingList.gender' + ${i}" th:id="'male_' + ${i}" value="남자"  checked="checked">
                  <!-- name="gender" id="male"> -->
                    <span class="radio-checkmark"></span>
                </label> 
                <label class="radio-container m-r-45">여자
                  <input type="radio" th:name="'bookingList.gender' + ${i}" th:id="'female_' + ${i}" value="여자"> 
                  <!-- name="gender" id="female">  -->
                    <span class="radio-checkmark"></span>
                </label>
              </div>

              <div class="input-group mb-3 row">
                <label class="input-group-text col-md-2" id="">생년월일</label>
                <input type="text" class="form-control col-md-10"  th:name="'bookingList.birth' + ${i}" >
                <!-- name="birth"> -->
              </div>

              <div class="input-group mb-3 row">
                <select  id="" th:name="'bookingList.pinType' + ${i}" > 
                  <!-- name="pinType"> -->
                  <option value="1">주민등록증</option>
                  <option value="2">여권</option>
                  <option value="3">운전면허증</option>
                </select>
              </div>
               
              <div class="input-group mb-3 row">
                <label class="input-group-text col-md-2" id="">핸드폰 번호</label>
                <input type="number" class="form-control col-md-10"  th:name="'bookingList.phone' + ${i}" >
                <!-- name="phone"> -->
              </div>
          
              <div class="input-group mb-3 row">
                <label class="input-group-text col-md-2" id="">이메일</label>
                <input type="text" class="form-control col-md-10" th:name="'bookingList.email' + ${i}">
                 <!-- name="email" > -->
              </div>

              <!-- <div class="input-group mb-3 row" sec:authorize="isAnonymous()">
                <label class="input-group-text col-md-2" id="">비밀번호</label>
                <input type="password" class="form-control col-md-10" name="userPw" 
                  placeholder="비회원 예매할때 사용할 비밀번호를 입력하세요.">
              </div> -->
            </th:block>
          </th:block>
            <div class="d-flex justify-content-between mt-5 mb-5">
              <a href="/" class="btn btn-lg btn-secondary">목록</a>
              <input type="submit" class="btn btn-lg btn-primary" value="등록" />
            </div>
          
        </form> 

       

    </div>
    
</body>
</html>