<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/UI/layout/main_layout}"
      >
<html lang="en">

<head>
    <!-- 폰트 어썸 라이브러리 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>개발을 꿈꾸는 항공사</title>
    <style>
        .footer_container {
          position: relative!important;
        }

    </style>


</head>

<body layout:fragment="content">

    <div class="container mt-5 py-3">

        <h1 style="text-align: center;">항공권 조회</h1> 
        <br>
        <div class="img_container text-center">
            <img src="/img/searchTicket.png" alt="조회">
          </div>
          <br><br>
        <!-- 출발지 - 목적지를 보여주는 섹션 -->
        <section>
            
            <div id="flight_box">
                <!-- 출발지 - 목적지를 보여주는 박스 -->
            </div>
            
        </section>
        
        <!-- 이전날짜 다음날짜 목록을 보여줘서 해당날짜 항공권 목록을 보여주는 섹션(옵션) -->
        <section></section>
        
        <!-- 항공권 목록을 보여주는 섹션 -->
        <section id="goWay">
        </section>

        <!-- 오는편 -->
        <section id="comeWay">
        </section>

        <div class="d-flex justify-content-between">
            <a href="/" class="btn btn-outline-primary btn-lg">메인으로 가기</a>
        </div>
    </div>
    
    <script>

        let roundTrip = "[[${booking.roundTrip}]]"
        let departure = "[[${booking.departure}]]"
        let destination = "[[${booking.destination}]]"
        let departureDate = "[[${booking.departureDate}]]"
        let pasCount = "[[${booking.pasCount}]]"
        let productNoDep
        let routeNoDep
     

        goWay()

        // 가는편 조회 
        function goWay() {

            const url = "/booking/component/golist"

            const data = {
                roundTrip: roundTrip,
                departure: departure,
                destination: destination,
                departureDate: departureDate,
                pasCount: pasCount
            };


            $.ajax({
                url     : url,
                type    : 'GET',
                data    : data,
                success : function(response) {
                    console.log(response);
                    $('#goWay').html(response)
                },
                error           : function(request, status, error){
                    alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                }

            })
            
        }

        

        $(function() {

            $('.btn-select').on("click", function() {
                $('#goWay').hide();
                productNoDep = $("#productNoDep").val();
                routeNoDep = $("#routeNoDep").val();
                console.log('productNoDep의 값:', productNoDep);
                console.log('routeNoDep 값:', routeNoDep);
                roundTrip = '왕복'
                comeWay(); 
            })

        })

        // 오는편 조회
        function comeWay() {

            const url = "/booking/component/comelist"

            const data = {
                roundTrip: roundTrip,
                departure: destination,
                destination: departure,
                departureDate: departureDate,   
                pasCount: pasCount,
                productNoDep : productNoDep,
                routeNoDep : routeNoDep
            };
 

            $.ajax({
                url     : url,
                type    : 'GET',
                data    : data,
                success : function(response) {
                    console.log(response);
                    $('#comeWay').html(response)
                },
                error           : function(request, status, error){
                    alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                }

            })
        }
            
    </script>

</body>
</html>