<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/UI/layout/main_layout}"
      >
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>개발을 꿈꾸는 항공사</title>


</head>

<body layout:fragment="content">

    <div class="container">

        <h1 style="text-align: center;">탑승객 유의사항 안내</h1>
        <h2>선택한 항공 스케줄</h2>

        

    </div>
    
   
</body>
</html>