<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/UI/layout/main_layout}"
      >
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>개발을 꿈꾸는 항공사</title>


</head>

<body layout:fragment="content">

    <div class="container">

        <h1 style="text-align: center;">탑승객 유의사항 안내</h1>
        <h2>선택한 항공 스케줄</h2>

        <!-- 예매한 탑승권 목록 보여주기 -->
        <form action="/booking/payment"> 
            <input type="hidden" name="passengerNames" th:value="${bookingInfo.passengerNames}"> 
            <input type="hidden" name="phones" th:value="${bookingInfo.phones}"> 
            <input type="hidden" name="pasCount" th:value="${bookingInfo.pasCount}"> 
            <input type="hidden" name="roundTrip" th:value="${bookingInfo.roundTrip}"> 
            <section>
                <h2>가는편</h2>
                <table class="table table-striped table-hover table-bordered text-center align-middle">
                    <!-- 출발지 도착지 항공기이름 출발날짜시간 도착날짜시간 요금 요청좌석-->
                    <tr>
                        <th>여정</th>   
                        <th>항공편</th>
                        <th>출발일시</th>
                        <th>도착일시</th>
                        <th>좌석구분</th>
                        <th>요금</th>
                        <th>요청좌석</th>
                        <th>이름</th>
                    </tr>

                    <th:block th:each="booking : ${goBookingList}">
                        <tr>
                            <td><span th:text="${booking.departure}"></span> → <span th:text="${booking.destination}"></span></td>
                            <td><span th:text="${booking.flightName}"></span></td>
                            <td><span th:text="${booking.departureDate}"></span></td>
                            <td><span th:text="${booking.destinationDate}"></span></td>
                            <td>일반석</td>
                            <td><span th:text="${booking.productPrice}"></span></td>
                            <!-- <tr><span th:text="${booking.seatNo}"></span></tr> -->
                            <td>1석</td>
                            <td><span th:text="${booking.passengerName}"></span></td>
                            <input type="hidden" name="passengerNames" th:value="${booking.passengerName}">
                            <input type="hidden" name="passengerNos" th:value="${booking.passengerNo}">
                            <input type="hidden" name="phones" th:value="${booking.phone}">
                        </tr>
                    </th:block>

                </table>

                <th:block th:unless="${ comeBookingList == null || comeBookingList.isEmpty()}">
                <h2>오는편</h2>
                    <table class="table table-striped table-hover table-bordered text-center align-middle">
                        <!-- 출발지 도착지 항공기이름 출발날짜시간 도착날짜시간 요금 요청좌석-->
                        <tr>
                            <th>여정</th>   
                            <th>항공편</th>
                            <th>출발일시</th>
                            <th>도착일시</th>
                            <th>좌석구분</th>
                            <th>요금</th>
                            <th>요청좌석</th>
                            <th>이름</th>
                        </tr>

                        <th:block th:each="booking : ${comeBookingList}">
                            <tr>
                                <td><span th:text="${booking.departure}"></span> → <span th:text="${booking.destination}"></span></td>
                                <td><span th:text="${booking.flightName}"></span></td>
                                <td><span th:text="${booking.departureDate}"></span></td>
                                <td><span th:text="${booking.destinationDate}"></span></td>
                                <td>일반석</td>
                                <td><span th:text="${booking.productPrice}"></span></td>
                                <!-- <tr><span th:text="${booking.seatNo}"></span></tr> -->
                                <td>1석</td>
                                <td><span th:text="${booking.passengerName}"></span></td>
                                <input type="hidden" name="passengerNames" th:value="${booking.passengerName}">
                                <input type="hidden" name="passengerNos" th:value="${booking.passengerNo}">
                                <input type="hidden" name="phones" th:value="${booking.phone}">
                            </tr>
                        </th:block>

                    </table>
                </th:block> 
            

            </section>

            <!-- 취소/환불 안내사항 -->
            <section>
                <h3>환불규정</h3>
                <p>* 본 항공권 환불에 따라 발생하는 수수료(위약금)는 아래와 같습니다.</p>

                <p>
                    출발전 환불(전체 미사용) : 전체요금의 80% <br>
                    출발후 환불(부분 사용) : 전체요금의 30% + 편도 정상 판매가<br> 
                    NoShow 환불(탑승하지 못했을 때) : 환불불가
                </p>

                <p>
                    ※ 재발행 된 전체 미사용 항공권은 환불 수수료 적용 부분이 상이하므로, 환불 전 반드시 항공사 환불 수수료 확인요망  <br>
                    * 항공사에서 제시한 Penalty 금액이 원화(KRW)가 아닌 경우 변경/환불일의 환율에 따라 변동 될 수 있습니다.
                    (금일 환율에 의해서 계산된 결과입니다.)   
                </p>
            </section>


            <!-- 비행기 반입 금지 물품 안내-->
            <section>
                <h3>비행기 반입 금지 물품</h3>

                <h4>1.가지고 탈수 없는 물품입니다.(객실x수하물x)</h4>
                <p>
                    당연하게도 자신을 포함한 승객 모두에게 위험이 될수 있는 폭발물류나 방사성, 독성물질, 인화성 물질(라이터, 성냥도 포함됩니다! 다만 소형안전성냥 및 휴대용라이터는 각1개 한해 객실반입 가능합니다.),기타 위험물질은 반입이 금지됩니다.
                    <img src="/img/반입금지물품1.png" alt="반입금지물품1">
                </p>
                
                <h4>2. 수하물에 넣어 가지고 갈수 있으나, 기내에는 반입이 불가능합니다(객실x수하물o)</h4>
                <p>
                    과도나 커터칼, 다트등의 도검류와 총기류(다만 항공사의 소지허가서를 확인시켜야합니다), 스포츠용품류(배트, 골프채, 빙상스케이트등), 무술호신용품, 공구류(도끼,망치)등은 소지하고 기내에 탑승은 불가능하나, 수하물로 넣어 가져 갈 수 있습니다.
                    <img src="/img/반입금지물품2.png" alt="반입금지물품2">          
                </p>
                
                <h4>3. 반입이 가능합니다.(객실o수하물o)</h4> 
                <p>
                    수저,포크,손톱깎이등의 생활도구류, 주사바늘 체온계등의 의료장비, 화장품,염색약,욕실용품(100ml이하만 가능/위탁수화물의경우 500ml이하만 가능합니다), 구조용품,휴대용배터리,시계,카메라,노트북 등은 가능합니다.
                    <img src="/img/반입금지물품3.png" alt="반입금지물품3">
                </p>

                <h4>액체류반입기준</h4>
                <img src="/img/반입금지물품4.png" alt="반입금지물품4">
            </section>

                <label class="radio-container m-r-45" for="commit">위 내용을 확인하셨습니까?
                    <input type="checkbox" id="commit" value="확인" required>                    
                    <span class="radio-checkmark"></span>
                </label> 

                <input type="submit" value="결제하기" class="btn btn-outline-primary btn-lg">
        </form>

    </div>
    
   
</body>
</html>