<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/UI/layout/main_layout}"
      >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>개발을 꿈꾸는 항공사</title>

    <!-- main_layout에 적용되어있는 style.css가 아닌 checkIn.css를 우선 적용 -->
    <link rel="stylesheet" th:href="@{/css/checkIn.css}" />

    <!-- sweetalert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
    <style>
        .footer_container {
          position: relative!important;
        }
      </style>

    <!-- JavaScript 추가 -->
    <script th:inline="javascript">

        let booking = [[${booking}]]        // 여기는 원래 에러 뜨는 것임 무시 가능
        let selectable = true               // 좌석 선택 가능 여부
        console.log( booking );
        console.log( booking.pasCount );

        // 토스트 정의
        const Toast = Swal.mixin({
            toast: true,
            position: 'center',
            iconColor: 'red',
            customClass: {
                popup: 'colored-toast',
            },
            showConfirmButton: false,
            timer: 6000,
            timerProgressBar: true,
        })

        document.addEventListener('DOMContentLoaded', function() {

            // checkbox의 change 이벤트 핸들러 등록
            var checkboxes = document.querySelectorAll('input[type="checkbox"]');
            var seatNoDepsInput = document.getElementById('seatNoDeps');

            var selectedSeats = new Array();

            checkboxes.forEach(function(checkbox) {
                checkbox.addEventListener('change', function() {

                    // 체크 해제인 경우 (🟦)
                    if (checkbox.classList.contains('checked')) {
                        checkbox.classList.remove('checked');
                        checkbox.checked = false; // 선택한 체크 박스를 선택 해제 (✅ --> 🟩)
                    }

                    selectedSeats = Array.from(checkboxes)
                                        .filter(function(checkbox) { return checkbox.checked; })
                                        .map(function(checkbox) { return checkbox.value; });

                    console.log('selectedSeats : ' + selectedSeats);

                    if (booking.pasCount < selectedSeats.length) {
                        alert('선택 불가');
                        checkbox.checked = false;
                        return; // 선택 좌석 수 > 탑승인원 수 (선택 불가)
                    }

                    // input 선택된 좌석 넣어주기
                    seatNoDepsInput.value = selectedSeats.join(', '); 

                    // 체크 박스 선택(🟥)
                    console.log('checkbox.checked : ' + checkbox.checked);
                    if (checkbox.checked) {
                        checkbox.classList.add('checked');              // 체크박스 모양 🟥
                    }

                    console.log('선택된 좌석 수 : ' + selectedSeats.length);
                });
            });
        });

        // 5초마다 예약된 좌석 확인
        // setInterval(function() {
        //     // console.log('5초마다...');
        //     let flightNo = '[[${booking.flightNo}]]'
        //     let url = '/booking/booked?flightNo=' + flightNo
        //    $.ajax({
        //         url : url,
        //         type : 'GET',
        //         // data : data,
        //         success : function(response) {
        //             console.log(response);
        //         },
        //         error : function() {
        //             alert('에러')
        //         }
        //     })
        //}, 5000);

       setInterval( function () {
            let flightNo = '[[${booking.flightNo}]]'
            let url = '/booking/booked?flightNo=' + flightNo

            $.ajax({
                url : url,
                type : 'get',
                success : function(response) {
                    console.log(response);
                    let bookedSeatList = response
                    // 예약된 자리 확인
                    let selectedSeatList = $('#seatNoDeps').val()
                    console.log('선택한 좌석');
                    console.log(selectedSeatList);
                    selectedSeatList = selectedSeatList.split(',')
                    console.log(selectedSeatList);
                    console.log( typeof selectedSeatList );

                    for (let i = 0; i < bookedSeatList.length ; i++) {
                        const bookedSeat = bookedSeatList[i].seatNo    // 예약된 좌석
                        for (let j = 0; j < selectedSeatList.length; j++) {
                            const selectedSeat = selectedSeatList[j];      // 선택한 좌석
                            console.log('selectedSeat : '+ selectedSeat);
                            console.log('bookedSeat : '+ bookedSeat);
                            if( bookedSeat == selectedSeat ) {
                                // alert(bookedSeat + ' 좌석이 실시간으로 예약되었습니다.\n 다른 좌석을 선택해주세요.')

                                // Toast.fire({
                                //     icon: 'error',
                                //     title: bookedSeat + ' 좌석이 실시간으로 예약되었습니다.\n다른 좌석을 선택해주세요.',
                                // })
                                Toast.fire({
                                    icon: 'error',
                                    title: ' 좌석이 실시간으로 예약되었습니다.\n다른 좌석을 선택해주세요.',
                                })


                                // 선택좌석 취소
                                
                                let checkbox = document.getElementById('seat-' + bookedSeat)
                                checkbox.checked = false;		         // 체크된 값 제거
                                checkbox.classList.remove('checked');    // 체크박스 모양 🟥 해제
                                checkbox.disabled = 'true'               // 좌석 선택 불가 (❌)

                                // 선택한 좌석의 값을 좌석 input 에서 제거
                                var selectedSeats = new Array();
                                var checkboxes = document.querySelectorAll('input[type="checkbox"]');
                                var seatNoDepsInput = document.getElementById('seatNoDeps');

                                // 체크된 박스들의 값을 가져와서 배열로 지정
                                selectedSeats = Array.from(checkboxes)
                                                        .filter(function(checkbox) { return checkbox.checked; })
                                                        .map(function(checkbox) { return checkbox.value; });

                                // input 선택된 좌석 넣어주기
                                seatNoDepsInput.value = selectedSeats.join(', '); 
                            }
                        }
                    } // 반복끝
                },
                error : function(error) {
                    alert('에러')
                }
            })
       }, 30 * 1000);       // 30초

    </script>


 
</head>

<body layout:fragment="content">

    <div class="seat-content">
        <br>
        <div class="seat-header">
            <h2 class="text">좌석선택</h2>
        </div>

        <div class="seat-header2">
            <h2>가는 편</h2>
        </div>

        <div class="seat-body">
            <form action="./notice" method="GET" id="frm3">
                <!-- input : hidden으로 데이터 넘기기 -->
                <input type="hidden" name="pasCount" id="pasCount" th:value="${booking.pasCount}">
                <input type="hidden" name="roundTrip" id="roundTrip" th:value="${booking.roundTrip}">
                <th:block th:with="count=${booking.pasCount}">
                    <th:block th:each="i : ${#numbers.sequence(1, count)}">
                        <input type="hidden" name="passengerNames" id="passengerNames" th:value="${booking.passengerNames[i-1]}" th:attr="data-index=${i-1}" />
                    </th:block>
                </th:block>
                <th:block th:with="count=${booking.pasCount}">
                    <th:block th:each="i : ${#numbers.sequence(1, count)}">
                        <input type="hidden" name="passengerNoss" id="passengerNoss" th:value="${booking.passengerNoss[i-1]}" th:attr="data-index=${i-1}" />
                    </th:block>
                </th:block>
                <th:block th:with="count=${booking.pasCount}">
                    <th:block th:each="i : ${#numbers.sequence(1, count)}">
                        <input type="hidden" name="routeNoDess" id="routeNoDess" th:value="${booking.routeNoDess[i-1]}" th:attr="data-index=${i-1}" />
                    </th:block>
                </th:block>
                <input type="hidden" name="destination" id="destination" th:value="${booking.destination}">
                <th:block th:with="count=${booking.pasCount}">
                    <th:block th:each="i : ${#numbers.sequence(1, count)}">
                        <input type="hidden" name="phones" id="phones" th:value="${booking.phones[i-1]}" th:attr="data-index=${i-1}" />
                    </th:block>
                </th:block>
                <th:block th:with="count=${booking.pasCount}">
                    <th:block th:each="seatNoDep, i : ${booking.seatNoDeps}">
                        <input type="hidden" name="seatNoDeps" th:value="${seatNoDep}" th:attr="data-index=${i.index}" />
                    </th:block>
                </th:block>
                


            <!-- csrf -->
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

                <div class="seatInnerWrap">
                    <div class="seatInnerLeft">
                        <div class="left1">
                            <div class="nameView"></div>
                            <div class="seatView">
                                <div class="seatNoDeps">
                                    <div class="SeatNoDeps">

                                        <br>

                                        <h5 class="seatCol">A 　B 　C 　D</h5>
                                        <!-- 좌석 -->
                                        <div class="seat1">
                                            <th:block th:each="seat, iterStat : ${seatStatus}">
                                                <input type="checkbox" class="seatBox" th:value="${seat.seatNo}" th:id="'seat-' + ${seat.seatNo}" th:disabled="${seat.status}==1" />
                                                <label th:for="'seat-' + ${seat.seatNo}" th:text="${seat.seatNo}"></label>
                                                <th:block th:if="${iterStat.count % 4 == 0}">
                                                    <br />
                                                </th:block>
                                                <th:block th:if="${iterStat.count % 40 == 0}">
                                                    <br />
                                                </th:block>
                                            </th:block>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <p th:text="${booking}"></p> -->

                    <div class="seatInnerRight">
                        <div class="seatInnerRightTop">
                            <div class="seatInfo">
                                <div class="seatInfo_bookSeat"><img alt="" src="/img/bookableSeat.png"> 선택 가능 좌석 </div>
                                <div class="seatInfo_bookingSeat"><img alt="" src="/img/bookingSeat.png"> 선택한 좌석 </div>
                                <div class="seatInfo_bookedSeat"><img alt="" src="/img/bookedSeat.png"> 선택 불가 좌석 </div>
                            </div>
                        </div>
                        
                        
                        <div class="seatInnerRightDown">
                            <div class="passengerName">탑승객 명
                                <h5 th:each="passenger : ${booking.passengerNames}">
                                    <span th:text="${passenger}"></span>
                                </h5>
                            </div>
                            <br>
                            <div>인원 수
                                <span class="spanPeople" th:text="${booking.pasCount}"></span>명
                            </div>
                            <br>
                            <div class="goSeat">가는 편 좌석
                                <input type="text" id="seatNoDeps" name="seatNoDeps" readonly="readonly" style="padding: 0; height: 17px">
                            </div>
                            
                        </div>
                    </div>
                        
                </div>
                
                <th:block th:if="${booking.roundTrip == '왕복'}">
                    <button type="button" class="seatInnerBottom" id="btn" onclick="goToNextStep()">
                        <span>다음 단계로</span>
                    </button>
                </th:block>
                <th:block th:unless="${booking.roundTrip == '왕복'}">
                    <button type="submit" class="seatInnerBottom" id="btn">
                        <span>선택 완료</span>
                    </button>
                </th:block>

 
            </form>
        </div>
    </div>

    <script th:inline="javascript">

        let pasCount;
        let roundTrip;
        let seatNoDeps;
        let destination;
    
        function goToNextStep() {
            roundTrip = $("#roundTrip").val();
            pasCount = $("#pasCount").val();
            seatNoDeps = $("#seatNoDeps").val();
            destination = $("#destination").val();
    
            var passengerNames = [];
            for (var i = 0; i < pasCount; i++) {
                var inputValue = $("#passengerNames[data-index='" + i + "']").val();
                passengerNames.push(inputValue);
            }
            
            var commaSeparatedPassengerNames = passengerNames.join(',');    // 배열을 콤마로 구분된 문자열로 변환
            
            var passengerNoss = [];
            for (var i = 0; i < pasCount; i++) {
                var inputValue2 = $("#passengerNoss[data-index='" + i + "']").val();
                passengerNoss.push(inputValue2);
            }
            
            var commaSeparatedPassengerNoss = passengerNoss.join(',');    // 배열을 콤마로 구분된 문자열로 변환

            var routeNoDess = [];
            for (var i = 0; i < pasCount; i++) {
                var inputValue3 = $("#routeNoDess[data-index='" + i + "']").val();
                routeNoDess.push(inputValue3);
            }
            
            var commaSeparatedRouteNoDess = routeNoDess.join(',');    // 배열을 콤마로 구분된 문자열로 변환
            
            var phones = [];
            for (var i = 0; i < pasCount; i++) {
                var inputValue4 = $("#phones[data-index='" + i + "']").val();
                phones.push(inputValue4);
            }
            
            var commaSeparatedPhones = phones.join(',');    // 배열을 콤마로 구분된 문자열로 변환
    
            // URL에 파라미터 추가
            var url =   "/booking/seat_rt?roundTrip=" + roundTrip
                      + "&pasCount=" + pasCount
                      + "&seatNoDeps=" + seatNoDeps
                      + "&destination=" + destination
                      + "&passengerNames=" + commaSeparatedPassengerNames
                      + "&passengerNoss=" + commaSeparatedPassengerNoss
                      + "&routeNoDess=" + commaSeparatedRouteNoDess
                      + "&phones=" + commaSeparatedPhones
                      ;
            
            // 이동
            window.location.href = url;
        }
    </script>
</body>
</html>