<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/UI/layout/main_layout}"
      >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>개발을 꿈꾸는 항공사</title>

    <!-- main_layout에 적용되어있는 style.css가 아닌 checkIn.css를 우선 적용 -->
    <link rel="stylesheet" th:href="@{/css/checkIn.css}" />


    <!-- JavaScript 추가 -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // checkbox의 change 이벤트 핸들러 등록
            var checkboxes = document.querySelectorAll('input[type="checkbox"]');
            var depSeatInput = document.getElementById('depSeat');

            checkboxes.forEach(function(checkbox) {
                checkbox.addEventListener('change', function() {
                    var selectedSeats = Array.from(checkboxes)
                        .filter(function(checkbox) { return checkbox.checked; })
                        .map(function(checkbox) { return checkbox.value; });

                    depSeatInput.value = selectedSeats.join(', ');
                });
            });
        });

    </script>


</head>


<body layout:fragment="content">

    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2 style="color: #6d6e70;cursor: context-menu;">좌석선택</h2>
        </div>

        <div class="modal-header2">
            <h2 class="direction"><span id="depLoc"></span> → <span id="arrLoc"></span></h2>
        </div>


        <div class="modal-body">
            <form action="./notice" method="post" id="frm3">
            <!-- csrf -->
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

                <div class="modalInnerWrap">
                    <div class="modalInnerLeft">
                        <div class="left1">
                            <div class="nameView"><p class="nameViewInner"></p></div>
                            <div class="seatView">
                                <div class="depAir">
                                    <div class="depSeat">

                                        <br>

                                        <h5 class="seatCol">A 　B 　C 　D</h5>
                                        <!-- 좌석 -->
                                        <div class="seat1">
                                            <th:block th:each="seat, iterStat : ${seatStatus}">
                                                <input type="checkbox" class="seatBox" th:value="${seat.seatNo}" th:id="'seat-' + ${seat.seatNo}" th:disabled="${seat.status}==1" />
                                                <label th:for="'seat-' + ${seat.seatNo}" th:text="${seat.seatNo}"></label>
                                                <th:block th:if="${iterStat.count % 4 == 0}">
                                                    <br />
                                                </th:block>
                                                <th:block th:if="${iterStat.count % 40 == 0}">
                                                    <br />
                                                </th:block>
                                            </th:block>
                                        </div>

                                    </div>
                                </div>

                                
                            </div>

                            <div class="seatWarning"><span class="warning">좌석지정 유의사항 안내</span></div>
                        </div>
                    </div>
                    
                    <div class="modalInnerRight">
                        <div class="modalInnerRightTop">
                            <div class="seatInfo">
                                <div class="seatInfo_bookSeat"><img alt="" src="/img/bookableSeat.png"> 선택 가능 좌석 </div>
                                <div class="seatInfo_bookingSeat"><img alt="" src="/img/bookingSeat.png"> 선택한 좌석 </div>
                                <div class="seatInfo_bookedSeat"><img alt="" src="/img/bookedSeat.png"> 선택 불가 좌석 </div>
                            </div>
                        </div>
                        
                        <div class="modalInnerRightDown">
                            <div>인원 수 <input type="text" id="people" name="people" readonly="readonly" style="width: 10px" hidden="hidden"><span class="spanPeople">여기 인원 몇</span>명</div>
                            <div class="goSeat">가는 편 좌석<input type="text" id="depSeat" name="depSeat" readonly="readonly" style="padding: 0; height: 17px"></div>
                            
                            <!-- 이건 왕복일 때만 -->
                            <div class="roundOnly backSeat">오는 편 좌석<input type="text" id="arrSeat" name="arrSeat" readonly="readonly" style="padding: 0; height: 17px"></div>
                            
                            <input type="text" id="depFNum" name="depFNum" readonly="readonly" hidden="hidden">
                            <input type="text" class="roundOnly" id="arrFNum" name="arrFNum" readonly="readonly" hidden="hidden">
                            <input type="text" id="kind" name="kind" readonly="readonly" hidden="hidden">
                        </div>
                    </div>
                    
                </div>

                <button type="submit" class="modalInnerBottom" id="btn">
                    <span>선택 완료</span>
                </button>
 
            </form>
        </div>
    </div>
</body>
</html>