<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/UI/layout/user_layout}"
      >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>나의 탑승권 관리</title>
    
    <style>
        .footer_container {
          position: relative!important;
        }

    </style>


    <script type="text/javascript">


        function pagePrintPreview(){
            var browser = navigator.userAgent.toLowerCase();
            if ( -1 != browser.indexOf('chrome') ){
                       window.print();
            }else if ( -1 != browser.indexOf('trident') ){
                       try{
                                //참고로 IE 5.5 이상에서만 동작함
                                //웹 브라우저 컨트롤 생성
                                var webBrowser = '<OBJECT ID="previewWeb" WIDTH=0 HEIGHT=0 CLASSID="CLSID:8856F961-340A-11D0-A96B-00C04FD705A2"></OBJECT>';
                                //웹 페이지에 객체 삽입
                                document.body.insertAdjacentHTML('beforeEnd', webBrowser);
                                //ExexWB 메쏘드 실행 (7 : 미리보기 , 8 : 페이지 설정 , 6 : 인쇄하기(대화상자))
                                previewWeb.ExecWB(7, 1);
                                //객체 해제
                                previewWeb.outerHTML = "./resources/param.html";
                       }catch (e) {
                                alert("- 도구 > 인터넷 옵션 > 보안 탭 > 신뢰할 수 있는 사이트 선택\n   1. 사이트 버튼 클릭 > 사이트 추가\n   2. 사용자 지정 수준 클릭 > 스크립팅하기 안전하지 않은 것으로 표시된 ActiveX 컨트롤 (사용)으로 체크\n\n※ 위 설정은 프린트 기능을 사용하기 위함임");
                       }
                    
            }
            
        }
        
        function airinfo() {
            location.href = "airinfo";
        }
        </script>

</head>
<body layout:fragment="content" class="">
    
    <!-- 티켓 정보 -->
    <!-- 예약 번호 / 출발지 / 도착지 / 출발일 / 인원 / 결제 금액 / 선택 좌석 -->

    <!-- 예약자 정보 -->
    <!-- 예약자명 / 핸드폰 번호 / 이메일 -->
    
    <div class="container p-4">
        <h1 class="text-center my-3">나의 탑승권 관리</h1>

        <br>
        <br>

        <h3>• 티켓 정보</h3>

        <br>
        
        <table class="table table-striped table-hover table-bordered text-center align-middle">
            <thead>
                <tr class="table-primary">
                    <th>예매 번호</th>
                    <th>출발지</th>
                    <th>도착지</th>
                    <th>출발일</th>
                    <td>인원</td>
                    <th>결제 금액</th>
                    <th>선택 좌석</th>
                </tr>
            </thead>

            <tbody>
                <th:block th:each="ticketDetail : ${viewTicketDetail}">
                    <tr>
                        <td><span th:text="${ticketDetail.ticketNo}"></span></td>
                        <td><span th:text="${ticketDetail.departure}"></span></td>                                
                        <td><span th:text="${ticketDetail.destination}"></span></td>
                        <td><span th:text="${ticketDetail.departureDate}"></span></td>
                        <td><span>인원 여기 나와야 함</span></td>
                        <td><span>결제금액 여기 나와야 함</span></td>
                        <td><span th:text="${ticketDetail.seatNo}"></span></td>
                    </tr>
                </th:block>
            </tbody>
        </table>


        <br><br><br>
        
        <h3>• 예매자 정보</h3>

        <br>

        <table class="table table-striped table-hover table-bordered text-center align-middle">
            <thead>
                <tr class="table-primary">
                    <th>예매자 명</th>
                    <th>핸드폰 번호</th>
                    <th>이메일</th>
                </tr>
            </thead>

            <tbody>
                <th:block th:each="user : ${userInfo}">
                    <tr>
                        <td><span th:text="${user.name}"></span></td>
                        <td><span th:text="${user.phone}"></span></td>                                
                        <td><span th:text="${user.email}"></span></td>
                    </tr>
                </th:block>
            </tbody>
        </table>

        
    </div>


</body>
</html>