<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/UI/layout/main_layout}"
      >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>개발을 꿈꾸는 항공사</title>
</head>

<body layout:fragment="content">

    <div class="d-flex justify-content-center align-items-center" id="back">


        <section>
            <div class="card card-4">
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                    <div class="tab_wrap">

                        <!-- 왕복일때는 달력을 두번 편도일때는 한번 보여주고 왕복일때는 오는날짜 변수 추가해서 돌아오는값을 넣고 -->
                        <!-- 편도일때는 지금처럼 하면됨 -->
                        <form action="/booking/list" method="GET"  id="frm">
        
                            <div class="radio-row" style="margin-bottom: 20px;">
                                <label class="radio-container m-r-45">왕복 <input
                                    type="radio" name="roundTrip" value="왕복" id="round" checked="checked">
                                    <span class="radio-checkmark"></span>
                                </label> <label class="radio-container m-r-45">편도 <input
                                    type="radio" name="roundTrip" value="편도" id="eachWay"> <span
                                    class="radio-checkmark"></span>
                                </label>
                            </div>
        
                            <div id="body">
                                <div class="input-group mid small">
                                    <label class="label">출발지:</label> <input
                                        class="input--style-1 t1" type="text" name="departure"
                                        placeholder="지역 또는 공항명" required="required" id="loc">
                                </div>
        
                                <div class="input-group mid small">
                                    <label class="label">도착지:</label> <input class="input--style-1"
                                        type="text" name="destination" placeholder="지역 또는 공항명"
                                        required="required" id="arrloc">
                                </div>
        
                                <!-- 왕복일 경우 text 타입으로 출발일부터 돌아오는날까지 기간을 입력받거나 여유가 되면 달력을 보여주고 출발일과 돌아오는 날짜를 선택 -->
                                <div class="input-group mid large">
                                    <label class="label">탑승일:</label> <input class="input--style-1"
                                        type="text" name="date" placeholder="yyyy/mm/dd"
                                        id="input-start">
                                </div>
        
                                <div class="input-group mid last">
        
                                    <label class="label">탑승객:</label>
                                    <div class="input-group-icon" id="js-select-special">
                                        <input class="input--style-1-small" type="text"
                                            name="traveller" value="성인 1, 아이 0" disabled="disabled"
                                            id="info"> <i class="zmdi zmdi-chevron-down input-icon"
                                            style="height: 100%; background-color: transparent;"></i>
                                    </div>
        
        
                                    <div class="dropdown-select">
                                        <ul class="list-room">
                                            <li class="list-room__item">
                                                <ul class="list-person">
                                                    <li class="list-person__item"><span class="name">성인</span>
                                                        <div class="quantity quantity1">
                                                            <span class="minus" id="a_minus">-</span> 
                                                            <input class="inputQty" type="number" min="0" value="1" name="adult" id="adult"> 
                                                            <span class="plus">+</span>
                                                        </div>
                                                    </li>
                                                    
                                                    <li class="list-person__item"><span class="name">아이</span>
                                                        <div class="quantity quantity2">
                                                            <span class="minus">-</span> 
                                                            <input class="inputQty" type="number" min="0" value="0" name="child" id="child">
                                                            <span class="plus">+</span>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                        
                                    </div>
                                </div> -->
        
                                <div class="col-2">
                                    <button class="btn-submit" id="booking_btn" type="submit">검색</button>
                                </div>
        
                            </div>
                        </form>
                    </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    
    <script type="text/javascript">
        /*** dateRangePicker ***/
         $('#input-start').daterangepicker({
            singleDatePicker:false,
            autoApply: true,
              minDate: new Date() 
            });
        $('input:radio[name=roundTrip]').click(function(){
            if($('input:radio[id=eachWay]').is(":checked")){
                     $('#input-start').daterangepicker({
                        singleDatePicker:true,
                         minDate: new Date()
                        }); 
                }else{
                    $('#input-start').daterangepicker({
                        singleDatePicker:false,	
                        autoApply: true,
                         minDate: new Date()
                        }); 	
                }
        });
        /*** dateRangePicker 끝  ***/
    </script>
</body>
</html>
