<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>

    <div class="container">

        
        <section>
            <div class="card card-4">
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                    <div class="tab_wrap">
        
                        <form action="#" method="post"  id="frm">
        
                            <div class="radio-row" style="margin-bottom: 20px;">
                                <label class="radio-container m-r-45">왕복 <input
                                    type="radio" name="kind" value="왕복" id="round" checked="checked">
                                    <span class="radio-checkmark"></span>
                                </label> <label class="radio-container m-r-45">편도 <input
                                    type="radio" name="kind" value="편도" id="eachWay"> <span
                                    class="radio-checkmark"></span>
                                </label>
                            </div>
        
                            <div id="body">
                                <div class="input-group mid small">
                                    <label class="label">출발지:</label> <input
                                        class="input--style-1 t1" type="text" name="depLoc"
                                        placeholder="지역 또는 공항명" required="required" id="loc">
                                </div>
        
                                <div class="input-group mid small">
                                    <label class="label">도착지:</label> <input class="input--style-1"
                                        type="text" name="arrLoc" placeholder="지역 또는 공항명"
                                        required="required" id="arrloc">
                                </div>
        
        
                                <div class="input-group mid large">
                                    <label class="label">탑승일:</label> <input class="input--style-12"
                                        type="text" name="date" placeholder="yyyy/mm/dd"
                                        id="input-start">
                                </div>
        
                                <div class="input-group mid last">
        
                                    <label class="label">탑승객:</label>
                                    <div class="input-group-icon" id="js-select-special">
                                        <input class="input--style-1-small" type="text"
                                            name="traveller" value="성인 1, 아이 0" disabled="disabled"
                                            id="info"> <i class="zmdi zmdi-chevron-down input-icon"
                                            style="height: 100%; background-color: transparent;"></i>
                                    </div>
        
        
                                    <div class="dropdown-select">
                                        <ul class="list-room">
                                            <li class="list-room__item">
                                                <ul class="list-person">
                                                    <li class="list-person__item"><span class="name">성인</span>
                                                        <div class="quantity quantity1">
                                                            <span class="minus" id="a_minus">-</span> 
                                                            <input class="inputQty" type="number" min="0" value="1" name="adult" id="adult"> 
                                                            <span class="plus">+</span>
                                                        </div>
                                                    </li>
                                                    
                                                    <li class="list-person__item"><span class="name">아이</span>
                                                        <div class="quantity quantity2">
                                                            <span class="minus">-</span> 
                                                            <input class="inputQty" type="number" min="0" value="0" name="child" id="child">
                                                            <span class="plus">+</span>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                        
                                    </div>
                                </div>
        
                                <div class="col-2">
                                    <button class="btn-submit" id="booking_btn" type="button">검색</button>
                                </div>
        
                            </div>
                        </form>
                    </div>
                    </div>
                </div>
            </div>
            
            <!-- 항공편 띄우기 -->
            <!-- <div style="width: 100%;">
            <div style="width: 70%; margin: 0 auto; text-align: center; padding: 50px 0;">
            <h5 style="font-size: 40px;color: black;">출도착 항공편</h5>
            <div class="nowtime" style="padding-top: 20px;">현재시간 넣기</div>
            </div>
        
        
            <table class="table_list tb_type2" id="table_0" style=" width: 1200px; margin-left: 385px; text-align: center; margin-bottom: 50px;">
               <tr>
            <th scope="row" style="text-align: center;">편명</th>
            <th scope="row" style="text-align: center;">항공사명</th>
            <th scope="row" style="text-align: center;">출발시간</th>
            <th scope="row" style="text-align: center;">도착시간</th>
            <th scope="row" style="text-align: center;">출발지</th>
            <th scope="row" style="text-align: center;">도착지</th>
            <th scope="row" style="text-align: center;">탑승현황</th>
            </tr>
        
            
        
            <c:forEach items="${flist}" var="f">
            <c:set var="date" value="${f.depPlandTime}"/>
            <c:set var="date2" value="${f.arrPlandTime}"/>
            
            <tr class="lasttime">
            <td>${f.vihicleId}</td>
            <td>${f.airlineNm}</td>
            <td class="deptime">${fn:substring(date,0,4)}년${fn:substring(date,4,6)}월${fn:substring(date,6,8)}일 ${fn:substring(date,8,10)}시${fn:substring(date,10,12)}분</td>
            <td class="arrtime">${fn:substring(date2,0,4)}년${fn:substring(date2,4,6)}월${fn:substring(date2,6,8)}일 ${fn:substring(date2,8,10)}시${fn:substring(date2,10,12)}분</td>
            <td>${f.depAirportNm}</td>
            <td>${f.arrAirportNm}</td>
            <td class="arrived">
            <img src="../images/booking/13.png" style="width: 40px;">
            </td>
            </tr>
            </c:forEach>	
            
            </table> -->
            
        
        </div>
        
        
            <!-- 공항검색 -->
            <!-- <div id="locSearch" class="search">
                <table id="locTable" class="tab">
                    <c:forEach items="${airportList}" var="airPort">
                        <tr>
                            <td class="loctd loctdd">${airPort}</td>
                        </tr>
                    </c:forEach>
                </table>
            </div>
        
        
            <div id="depLocDiv"></div> -->
            <!-- 공항검색끝 -->
            
            
            
            
        </section>

    </div>

    

</body>
</html>