<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <th:block th:replace="~{UI/fragment/link::link}"></th:block>
</head>
<body>

  <th:block th:replace="~{UI/fragment/header::header}"></th:block>

  <div class="container">
    <th:block layout:fragment="content"></th:block>
  </div>
  
  <th:block th:replace="~{UI/fragment/footer::footer}"></th:block>

  <!-- JS -->
  <th:block th:replace="~{UI/fragment/script::script}"></th:block>
</body>
</html>