<th:block th:fragment="admin_sidebar">
    <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
        <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="sidebarMenuLabel">DreamAir</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
     
            <ul class="nav nav-pills flex-column">

              <!-- 관리자 메뉴 -->
              <!-- <th:block sec:authorize="isAuthenticated()"> -->
                <th:block>
                <li class="nav-item">
                  <a href="/admin/index" class="nav-link d-flex align-items-center gap-2" aria-current="page" >
                    <svg class="bi"><use xlink:href="#house-fill"/></svg>
                    대시보드
                  </a>
                </li>

                <li class="nav-item">
                  <a href="/admin/admin_insert" class="nav-link d-flex align-items-center gap-2" >
                    <svg class="bi"><use xlink:href="#file-earmark"/></svg>
                    관리자 등록
                  </a>
                </li>

                <li class="nav-item">
                  <a href="/admin/user_list" class="nav-link d-flex align-items-center gap-2" >
                    <svg class="bi"><use xlink:href="#file-earmark"/></svg>
                    사용자 관리
                  </a>
                </li>

                <li class="nav-item">
                  <a href="/product/flight_list" class="nav-link d-flex align-items-center gap-2" >
                    <svg class="bi"><use xlink:href="#file-earmark"/></svg>
                    항공기 관리
                  </a>
                </li>

                <li class="nav-item">
                  <a href="/product/product_list" class="nav-link d-flex align-items-center gap-2" >
                    <svg class="bi"><use xlink:href="#file-earmark"/></svg>
                    상품 관리
                  </a>
                </li>

                <li class="nav-item">
                  <a href="/admin/booking_list" class="nav-link d-flex align-items-center gap-2" >
                    <svg class="bi"><use xlink:href="#file-earmark"/></svg>
                    예매 관리
                  </a>
                </li>

                <li class="nav-item">
                  <a href="/admin/ticket_list" class="nav-link d-flex align-items-center gap-2" >
                    <svg class="bi"><use xlink:href="#file-earmark"/></svg>
                    사용자 탑승권 관리
                  </a>
                </li>
              </th:block>
            </ul>
            <hr class="my-3">
          </div>
        </div>
      </div>

      <!-- 사이드바 선택(active) 색상 변환 -->
      <script>
        // URL : http://localhost:8080/user/update
        // window.location.pathname : /user/update
        $('[href="' + window.location.pathname + '"]').addClass('active')
        
        $('.collapse-all').on('click', function() {
          $('.sidebar .collapse').collapse('hide')
        })
        $('.open-all').on('click', function() {
          $('.sidebar .collapse').collapse('show')
        })
      </script>
</th:block>