<th:block th:fragment="header">
    <div class="container">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark w-100 position-absolute start-0 top-0 py-4" style="height: 30px;" >
        <div class="container-fluid ">
          <div class="collapse navbar-collapse py-5" id="navbarCollapse" style="justify-items: flex-end;">
            
            <!-- 비 로그인 시 -->
            <th:block sec:authorize="isAnonymous()">

              <ul class="navbar-nav navbar-skyblue d-flex justify-content-end w-100 pe-5 me-5" style="padding-right: 245px !important;" >
                <li class="nav-item"><a class="nav-link" aria-current="page" href="/login">로그인</a></li>
                <li class="nav-item"><a class="nav-link" aria-current="page" href="/join">회원가입</a></li>
                <li class="nav-item">
                  <a class="nav-link d-flex align-items-center" aria-current="page" href="/user/cart">
                      <img class="header_image" src="/img/white_cart.png" alt="장바구니">
                      <span class="ms-2">장바구니 (0)</span>
                    </a>
                  </li>
                <li class="nav-item"><a class="nav-link" aria-current="page" href="/admin">관리자 페이지</a></li>
              </ul>
            </th:block>

            <!-- 유저 프로필 -->
            <!-- 로그인 시 -->
            <th:block sec:authorize="isAuthenticated()">
              <div class="dropdown text-end mx-3">
                <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle text-white" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle me-2">
                  <strong sec:authentication="principal.users.userId">아이디</strong>
                </a>
                <ul class="dropdown-menu text-small">
                  <!-- 사용자 메뉴 -->
                  <th:block sec:authorize="hasRole('ROLE_USER')">
                    <li><a class="dropdown-item" href="/user">마이 페이지</a></li>
                    <li><a class="dropdown-item" href="/user/update">회원 정보 수정</a></li>
                    <li><a class="dropdown-item" href="/user/bookingList">나의 탑승권 관리</a></li>
                    <li><a class="dropdown-item" href="/user/checkin">체크인</a></li>
                    <li><a class="dropdown-item" href="/user/cart">장바구니 조회</a></li>
                    <li><a class="dropdown-item" href="/user/mileage">마일리지 조회</a></li>
                    <li><a class="dropdown-item" href="/user/delete">회원 탈퇴</a></li>
                  </th:block>
                  
                  <li><hr class="dropdown-divider"></li>
                  <li>
                    <form action="/logout" method="post">
                      <!-- csrf token -->
                      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                      <button type="submit" class="dropdown-item">로그아웃</button>
                    </form>
                  </li>
                </ul>
              </div>
            </th:block>
          </div>
        </nav>
      </div>
    </header>
  </th:block>
  <header class="border-bottom align-items-center text-center" style="line-height: 50px; margin-top: -50px;">
    <div class="container d-flex flex-wrap" style="width: 100%;" >
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/"><img src="/img/blackNameLogo.png" alt="로고 이미지" style="width: 150px; height: 60px;"></a>
        </li>
      </ul>
      <ul class="navbar navbar-light" >
        <li class="nav-item">
          <a class="nav-link link-body-emphasis px-2" href="/user/productFlightList">출도착 항공편 조회</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-body-emphasis px-2" href="/">항공권 예약</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-body-emphasis px-2" href="/bus">공항 버스 예약</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-body-emphasis px-2" href="/board/list">게시판</a>
        </li>
        <!-- 임시 셋팅 -->
        <th:block sec:authorize="hasRole('ROLE_ADMIN')">
          <li class="nav-item">
            <a class="nav-link link-body-emphasis px-2" href="/admin">관리자 페이지</a>
          </li>
        </th:block>
          </ul>
        </ul>
    </div>
  </header>
</th:block>