<th:block th:fragment="link">
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link rel="styleshhet" href="/css/dashboard.css">
    <link rel="styleshhet" href="/css/dashboard.rtl.css">
    <link rel="styleshhet" href="/css/cheatsheet.css">
    <link rel="styleshhet" href="/css/cheatsheet.rtl.css"> -->

    <!-- material icon theme -->
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->


    <!-- <link rel="stylesheet" type="text/css"
        href="https://flyasiana.com/C/pc/css/reset.css">
    <link rel="stylesheet" type="text/css"
        href="https://flyasiana.com//C/pc/css/layout.css">
    <link rel="stylesheet" type="text/css"
        href="https://flyasiana.com//C/pc/css/common.css">
    <link rel="stylesheet" type="text/css"
        href="https://flyasiana.com//C/pc/css/flyasiana.css">
    <link rel="stylesheet" type="text/css"
        href="https://flyasiana.com//C/pc/css/calendar.css">
    <link rel="stylesheet" type="text/css"
        href="https://flyasiana.com//C/pc/css/corp.css"> -->

    <!-- site -->
    <!-- <link rel="stylesheet" href="/css/reset.css"> -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- <link rel="stylesheet" href="/css/bookingMain.css">
    <link rel="stylesheet" href="/css/booking.css">
    <link rel="stylesheet" href="/css/checkIn.css"> -->

    <!-- 폰트 어썸 라이브러리 -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
</th:block>