<th:block th:fragment="sidebar">
    <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
        <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="sidebarMenuLabel">Company name</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto w-100">
            <ul class="nav nav-pills flex-column">

              <!-- 회원 메뉴 -->
              <th:block sec:authorize="isAuthenticated()">
                <li class="nav-item">
                  <a href="/user" class="nav-link d-flex align-items-center gap-2" aria-current="page" >
                    마이페이지
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/user/update" class="nav-link d-flex align-items-center gap-2" >
                    회원 정보 수정
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/user/checkin" class="nav-link d-flex align-items-center gap-2" >
                    체크인
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/user/mileage" class="nav-link d-flex align-items-center gap-2" >
                    마일리지 조회
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/user/delete" class="nav-link d-flex align-items-center gap-2" >
                    회원 탈퇴
                  </a>
                </li>
              </th:block>
              
              
              <!-- 회원 / 비회원 모두 조회 가능 메뉴 -->
              <li class="nav-item">
                <a href="/user/cart" class="nav-link d-flex align-items-center gap-2" >
                  장바구니 조회
                </a>
              </li>
              <li class="nav-item">
                <a href="/user/bookingList" class="nav-link d-flex align-items-center gap-2">
                  나의 탑승권 관리
                </a>
              </li>
            </ul>
            <hr class="my-3">
  
            
          </div>
        </div>
      </div>

      <script>
        // URL : http://localhost:8080/user/update
        // window.location.pathname : /user/update
        $('[href="' + window.location.pathname + '"]').addClass('active')
        
      </script>
</th:block>