<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/UI/layout/admin_layout}"
      >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 정보 등록</title>
</head>

<body layout:fragment="content">
    <div class="container">
        <h1 class="text-center my-5">관리자 정보 등록</h1>
          <br><br><br><br>
        <form class="needs-validation" novalidate action="/admin/admin_insert" method="post" th:object="${admin}">   
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

            <div class="row g-3">
  
              <div class="col-5 ">
                <label for="adminId" class="form-label">관리자 아이디</label>
                <div class="input-group has-validation">
                  <input type="text" class="form-control" name="adminId" id="adminId" placeholder="관리자 아이디" required>
                  <div class="invalid-feedback">
                    Your adminId is required.
                  </div>
                </div>
              </div>

              <div class="col-5">
                <label for="adminPw" class="form-label">관리자 비밀번호</label>
                <div class="input-group has-validation">
                  <input type="password" class="form-control" name="adminPw" id="adminPw" placeholder="관리자 비밀번호" required>
                  <div class="invalid-feedback">
                    Your admin password is required.
                  </div>
                </div>
              </div>
            
            <hr class="my-4">
  
            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-outline-primary btn-lg">관리자 등록</button>
            </div>
        </form>
    </div>
</body>
</html>