<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/UI/layout/admin_layout}"
      >
<head>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>탑승권 관리 - 탑승 처리</title>
</head>
<body layout:fragment="content">
    <h1 class="text-center my-5">탑승권 관리 - 탑승 처리</h1>

    <th:block th:if="${pasTicketList != null}">
    <th:block th:each="ticket : ${pasTicketList}">
      <div class="final_container">
        <div class="btnBox mb-3" >
          <input type="hidden" class="ticketNo" id="ticketNo" th:value="${ticket.ticketNo}">
          <button class="btn btn-outline-primary btn-lg" onclick="return checkPro()">탑승 완료</button>
        </div>

        <div class="boarding-pass">
          <!-- Left Section -->
          <div class="left-section">
            <div class="section airline-logo"><img src="/img/BlueNameLogo.png" alt="로고이미지" style="width: 130px; height: 30px;"></div>
            <hr>
            <div class="section flight-details">
              <div class="flight-detail-item"><strong>TicketNo : </strong><span th:text="${ticket.ticketNo}"><span></div>
              <div class="flight-detail-item"><strong>FlightNo : </strong><span th:text="${ticket.flightNo}"><span></div>
              <div class="flight-detail-item"><strong>Departure Date : </strong><span th:text="${ticket.departureDate}"></div>
              <div class="flight-detail-item"><strong>Boarding time : </strong><span th:text="${ticket.boardingTime}"></div>
              <div class="flight-detail-item"><strong>Gate : </strong>A1</div>
            </div>
              <hr>
              <hr>
            <div class="section passenger-details">
              <div class="passenger-detail-item"><strong>Passenger : </strong><span th:text="${ticket.passengerName}"></div>
              <div class="passenger-detail-item"><strong>Seat : </strong><span th:text="${ticket.seatNo}"></div>
              <div class="passenger-detail-item"><strong>Class : </strong>Economy</div>
            </div>
            
            <!-- QR 코드 -->
            <th:block th:if="${QR.qrNo!=null}" >
                <div class="QRcode">
                  <a th:href="|${QR.url}|" target="_blank" style="text-decoration: none;"><img th:src="|/qr/img?qrNo=${QR.qrNo}|" alt="QR코드"></a>          
                </div>
            </th:block>
            <div class="boarding-pass-footer">
              <p>Boarding gate closes <span style="color: red;">10 minutes</span> prior to departure time.</p>
            </div>
          </div>

          <!-- Right Section -->
          <div class="right-section">
            <div class="section"><strong><span th:text="${ticket.departure}"> to </span><span th:text="${ticket.destination}"></span></strong></div>
            <div class="section"><strong>Departure : </strong><span th:text="${ticket.departureDate}"></span><span th:text="${ticket.departureTime}"></span></div>
            <div class="section"><strong>Seat : </strong><span th:text="${ticket.seatNo}"></span></div>
            <div class="section"><strong>Class : </strong>Economy</div>
            <div class="section"><img src="/img/logo.png" alt="로고이미지" style="width: 30px; height: 30px;"></div>
          </div>
        </div>
      </div>
    </th:block>
    </th:block>
    <script>
      function checkPro() {
          let ticketNo = document.getElementById("ticketNo").value
          let check = confirm('최종 탑승 완료하시겠습니까?')
          if( check )
              location.href = `/admin/Final_check_complete?ticketNo=${ticketNo}`
              return true

          return false
      }
  </script>
<!-- <script>
  $('.final_btn').click(function(){
      let isBoarded = $(this).prev('input').val()
      let checkedIn = $(this).prev('input').prev('input').val() 
      let ticketNo = $(this).prev('input').prev('input').prev('input').val()
  
      if(isBoarded!=0){
          alert('이미 탑승완료되었습니다.')
          return false
      } else {
          location.href = `/admin/Final_check_complete?ticketNo=${ticketNo}`
      }
  })
</script> -->

</body>
</html>        