<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/UI/layout/admin_layout}"
      >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지</title>

</head>
<body layout:fragment="content">

    <div class="container p-4">
        <h1 class="text-center my-3">관리자 페이지입니다.</h1>
    </div>

    <!-- 로그인 하지 않은 상태 -->
    <th:if test = "${admin == null }">
        <div class="login_button"><a href="/admin/admin_login">로그인</a></div>
        <span><a href="/admin/admin_insert">관리자 등록</a></span>                
</th:if>  

    <!-- 로그인한 상태 -->
    <th:if test="${ admin != null }">
        <th:if text="${admin.adminCk == 1}">
        <div class="login_success_area">
            <span>${admin.adminId}님 반갑습니다.</span>
        </div>
    </th:if>
    </th:if>
    <div style="height: 1000px;"></div>
</body>  
</html>

<!-- <fmt:formatNumber value="${member.point }" pattern="#,###" /> -->