<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/UI/layout/admin_layout}"
      >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지</title>

</head>
<body layout:fragment="content">

    <div class="container p-4">
        <h1 class="text-center my-3">관리자 페이지입니다.</h1>
    
        <form action="admin/login" method="post">
            <!-- csrf token -->
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

            <th:block sec:authorize="isAnonymous()">
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-outline-primary btn-lg">관리자 로그인</button>
                </div>
             </th:block>
             
            <th:block sec:authorize="isAuthenticated()">
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-outline-primary btn-lg">로그아웃</button>
                </div>
            </th:block>
        </form>

    </div>
    <div style="height: 1000px;"></div>
</body>  
</html>