<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/UI/layout/admin_layout}"
      >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지</title>

</head>
<body layout:fragment="content">

        <h1 class="text-center my-3">관리자 페이지입니다.</h1>

</body>  
</html>

<!-- <fmt:formatNumber value="${member.point }" pattern="#,###" /> -->