<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{UI/layout/admin_layout}"
      >
<head>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사용자 관리</title>
</head>

<body layout:fragment="content">
    <h1 class="text-center my-3">사용자 관리</h1>

    <div class="btn-box d-grid gap-2 " >
        <span class="btn btn-outline-primary btn-lg"><a href="/admin/user_insert">사용자 정보 수동 등록</a></span>
    </div>
    <br>

    <th:block th:if="${UserList != null}">
            <table class="table table-striped table-hover table-bordered text-center align-middle">
                <thead>
                    <tr class="table-primary">
                        <th>회원번호</th>
						<th>아이디</th>
						<th>이름</th>
						<th>주소</th>
						<th>연락처</th>
						<th>이메일</th>
						<th>등록일자</th>
						<th>수정일자</th>
						<th>권한</th>
                        <th colspan="2">비고</th>
                    </tr>
                    <tbody>
                        <!-- 목록이 없을 때 -->
                        <th:block th:if="${UserList.isEmpty()}">
                            <tr>
                                <td colspan="12">등록된 사용자 정보가 없습니다.</td>
                            </tr>
                        </th:block>
                        <th:block th:each="users : ${UserList}">
                            <tr> 
                                <td><span th:text="${users.userNo}"></span></td>                                
                                <td><span th:text="${users.userId}"></span></td>
                                <td><span th:text="${users.Name}"></span></td>
                                <td><span th:text="${users.address}"></span></td>
                                <td><span th:text="${users.phone}"></span></td>                                
                                <td><span th:text="${users.email}"></span></td> 
                                <td><span th:text="${users.regDate}"></span></td> 
                                <td><span th:text="${users.updDate}"></span></td> 
                                <td><span th:text="${users.auth}"></span></td>

                                <td><button class="btn btn-primary me-md-2" type="button"><a th:href="|/admin/user_update?userNo=${users.userNo}|">수정</button></td>          
                                <td><button class="btn btn-primary" type="button" onclick="deletePro()">삭제</button></td>
                                <!-- <td><a th:href="|/admin/user_update?userNo=${users.userNo}|">수정</a></td>
                                <td><a href="javascript:;" onclick="">삭제</a></td> -->
                            </tr>
                        </th:block>
                    </tbody>
                </thead>
            </table>
        </th:block>

        <th:block th:if="${UserList==null}" >
            <th:block th:if="${UserList.isEmpty()}">
                <tr>
                    <td colspan="12">등록된 사용자 정보가 없습니다.</td>
                </tr>
            </th:block>
        </th:block>
    </body>
</html>
    
