<body layout:fragment="content">

    <div class="container">
        <h1 style="text-align: center;">사용자 수동 등록</h1>

        <form class="needs-validation" novalidate action="/admin/user_insert" method="post" th:object="${Users}">   
            <!-- csrf -->
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

            <div class="row g-3">
  
              <div class="col-5">
                <label for="userId" class="form-label">아이디</label>
                <div class="input-group has-validation">
                  <!-- <span class="input-group-text">아이디</span> -->
                  <input type="text" th:field="*{userId}" class="form-control"  placeholder="아이디" required>
                </div>
              </div>

              <div class="col-5">
                <label for="Name" class="form-label">이름</label>
                <div class="input-group has-validation">

                  <input type="text" th:field="*{Name}" class="form-control"  placeholder="이름" required>
                         
                </div>
              </div>

              <div class="col-5">
                <label for="address" class="form-label">주소</label>
                <div class="input-group has-validation">
                  <input type="text" th:field="*{address}" class="form-control"  placeholder="주소">
                </div>
              </div>

              <div class="col-5">
                <label for="phone" class="form-label">연락처</label>
                <div class="input-group has-validation">
                  <input type="text" th:field="*{phone}" class="form-control"  placeholder="연락처">
                </div>
              </div>

              <div class="col-5">
                <label for="email" class="form-label">이메일</label>
                <div class="input-group has-validation">
                  <input type="text" th:field="*{email}" class="form-control"  placeholder="이메일">
                </div>
              </div>             
  
            </div>
  
            <hr class="my-4">
  
            <div class="d-flex justify-content-between">
                <a href="/admin/user_list" class="btn btn-outline-primary btn-lg">취소</a>
                <button type="submit" class="btn btn-outline-primary btn-lg">수정</button>
            </div>
        </form>


    </div>
    
</body>