<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{UI/layout/admin_layout}"
      >
<head>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>항공기 관리</title>
</head>

<th:block th:if="${FlightList != null}">
            
            <table class="table table-striped table-hover table-bordered text-center align-middle">
                <thead>
                    <tr class="table-primary">
                        <th>순번</th>
                        <th>Admin ID</th>
                        <th>Admin PW</th>
                    </tr>
                    <tbody>
                        <!-- 목록이 없을 때 -->
                        <th:block th:if="${flight_list.isEmpty()}" th:object="${Product}">
                            <tr>
                                <td colspan="6">추가된 상품이 없습니다.</td>
                            </tr>
                        </th:block>
                        <th:block th:each="flight : ${flight_list}">
                            <tr>
                                <td><span th:text="${Product.fligh}"></span></td>                                
                                <td><span th:text="${order.name}"></span></td>
                                <td><span th:text="${order.unitPrice}"></span></td>
                                <td><span th:text="${order.amount}"></span></td>
                                <td><span th:text="${order.unitPrice * order.amount}"></span></td>
                                <!-- <td><span th:text="${order.product.name}"></span></td>                                
                                <td><span th:text="${order.product.unitPrice}"></span></td> 
                                <td><span th:text="${order.productIO.amount}"></span></td> 
                                <td><span th:text="${order.productIO.amount * order.product.unitPrice}"></span></td>  -->
                                <td></td>
                            </tr>
                        </th:block>
                    </tbody>
                    <!-- <th:block th:if="${ order != null }">
                        <tfoot>
                            <td></td>
                            <td>합계</td>
                            <td><span th:text="${order.sumTotalPrice}"></span></td>
                            <td><span th:text="${order.sumAmount}"></span></td>
                            <td></td>
                            <td></td>
                        </tfoot>
                    </th:block> -->
                </thead>

            </table>
        </th:block>
        </body>
        </html>
        
