<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/UI/layout/admin_layout}"
      >
<head>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>항공기 정보 등록</title>
</head>

<body layout:fragment="content">

    <div class="container">
        <h1 style="text-align: center;">항공기 정보 등록</h1>

        <!-- <form class="needs-validation" novalidate action="/product/flight_insert" method="post" th:object="${Product}">    -->
        <form class="needs-validation" novalidate action="/product/flight_insert" method="post">   
        <form class="needs-validation" novalidate action="/product/flight_insert" method="post" th:object="${product}">   
            <!-- csrf -->
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

            <div class="row g-3">
  
              <div class="col-5">
                <label for="flightname" class="form-label">항공기명</label>
                <div class="input-group has-validation">
                  <input type="text" class="form-control"  placeholder="항공기명" value="${product.flightname}">
                </div>
              </div>

              <div class="col-5">
                <label for="routeNo" class="form-label">노선번호</label>
                <div class="input-group has-validation">
                  <input type="text" class="form-control"  placeholder="노선번호" value="${product.routeNo}">
                </div>
              </div>

              
              <div class="col-5">
                <label for="departure" class="form-label">출발지</label>
                <div class="input-group has-validation">
                  <input type="text" class="form-control"  placeholder="출발지" value="${product.departure}">
                </div>
              </div>

              <div class="col-5">
                <label for="destination" class="form-label">도착지</label>
                <div class="input-group has-validation">
                  <input type="text" class="form-control"  placeholder="도착지"  value="${product.destination}">
                </div>
              </div>
            </div>

              <div class="col-5">
                <label for="departureTime" class="form-label">출발시간</label>
                <div class="input-group has-validation">
                  <input type="text" class="form-control"  placeholder="출발시간"  value="${product.departureTime}">
                </div>
              </div>

              <div class="col-5">
                <label for="destinationTime" class="form-label">도착시간</label>
                <div class="input-group has-validation">
                  <input type="text" class="form-control"  placeholder="도착시간"  value="${product.destinationTime }">
                </div>
              </div>

              <div class="col-5">
                <label for="seatMax" class="form-label">좌석 수</label>
                <div class="input-group has-validation">
                  <input type="text" class="form-control"  placeholder="좌석 수"  value="${product.seatMax}">
                </div>
              </div>

              <div class="col-5">
                <label for="seatUsed" class="form-label">사용 중인 좌석 수</label>
                <div class="input-group has-validation">
                  <input type="text" class="form-control"  placeholder="사용 중인 좌석 수"  value="${product.seatReamining}">
                </div>
              </div>

              <div class="col-5">
                <label for="seatReamining" class="form-label">잔여 좌석 수</label>
                <div class="input-group has-validation">
                  <input type="text" class="form-control"  placeholder="잔여 좌석 수" value="${product.seatUsed}">
                </div>
              </div>


  
            <hr class="my-4">
  
            <div class="d-flex justify-content-between">
                <a href="/product/flight_list" class="btn btn-outline-primary btn-lg">취소</a>
                <button type="submit" class="btn btn-outline-primary btn-lg">등록</button>
            </div>
        </form>

       

    </div>
    
</body>