<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/UI/layout/admin_layout}"
      >
<head>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품(항공권) 정보 등록</title>
</head>

<body layout:fragment="content">

    <div class="container">
        <h1 style="text-align: center;">상품(항공권) 정보 등록</h1>

        <form class="needs-validation" novalidate action="/product/product_insert" method="post" th:object="${product}">   
            <!-- csrf -->
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

            <div class="row g-3">
  
              <div class="col-5">
                <label for="name" class="form-label">상품명</label>
                <div class="input-group has-validation">
                  <input type="text" class="form-control"  placeholder="상품명">
                </div>
              </div>

              <div class="col-5">
                <label for="productCat" class="form-label">상품 카테고리</label>
                <div class="input-group has-validation">
                  <input type="text" class="form-control"  placeholder="상품 카테고리">
                </div>
              </div>

              <div class="col-5">
                <label for="productPrice" class="form-label">상품 가격</label>
                <div class="input-group has-validation">
                  <input type="text" class="form-control"  placeholder="상품 가격">
                </div>
              </div>

              <div class="col-5">
                <label for="routeNo" class="form-label">노선번호</label>
                <div class="input-group has-validation">
                  <input type="text" class="form-control"  placeholder="노선번호">
                </div>
              </div>

              <div class="col-5">
                <label for="departure" class="form-label">출발지</label>
                <div class="input-group has-validation">
                  <input type="text" class="form-control"  placeholder="출발지">
                </div>
              </div>

              <div class="col-5">
                <label for="destination" class="form-label">도착지</label>
                <div class="input-group has-validation">
                  <input type="text" class="form-control"  placeholder="도착지">
                </div>
              </div>


            </div>
  
            <hr class="my-4">
  
            <div class="d-flex justify-content-between">
                <a href="/user/product_list" class="btn btn-outline-primary btn-lg">취소</a>
                <button type="submit" class="btn btn-outline-primary btn-lg">상품 등록</button>
            </div>
        </form>

       

    </div>
    
</body>