<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{UI/layout/admin_layout}"
      >
<head>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품(항공권) 관리</title>
</head>
<body layout:fragment="content">
    <br><br><br><br><br><br><br><br>
    <h1 class="text-center my-3">상품(항공권) 관리</h1>
    <div class="btn-box d-grid gap-2 pt-5" >
        <span class="btn btn-outline-primary btn-lg"><a href="#">상품등록</a></span>
    </div>
<th:block th:if="${ProductList != null}" >
            <table class="table table-striped table-hover table-bordered text-center align-middle">
                <thead>
                    <tr class="table-primary">
                        <th>상품번호</th>
                        <th>노선번호</th>
                        <th>상품명</th>
                        <th>카테고리</th>
                        <th>가격</th>
                        <th>출발지</th>
                        <th>도착지</th>
                        <th>출발시간</th>
                        <th>도착시간</th>
                        <!-- <th>등록일자</th>
                        <th>수정일자</th> -->
                        <th colspan="2">비고</th>
                    </tr>
                    <tbody>
                        <!-- 목록이 없을 때 -->
                        <th:block th:if="${ProductList.isEmpty()}">
                            <tr>
                                <td colspan="13">등록된 상품(항공권)이 없습니다.</td>
        
                            </tr>
                        </th:block>

                        <th:block th:each="product : ${ProductList}">
                            <tr>
                                <td><a href="/product/product_list/${product.productNo}"></a><span th:text="${product.productNo}"></span></td>
                                <!-- <td><span th:text="${product.productNo}"></span></td>                                 -->
                                <td><span th:text="${product.routeNo}"></span></td>
                                <td><span th:text="${product.name}"></span></td>
                                <td><span th:text="${product.productCat}"></span></td>
                                <td><span th:text="${product.productPrice}"></span></td>
                                <td><span th:text="${product.departure}"></span></td>
                                <td><span th:text="${product.destination}"></span></td>
                                <td><span th:text="${product.departureTime}"></span></td>
                                <td><span th:text="${product.destinationTime}"></span></td>
                                <!-- <td><span th:text="${product.regDate}"></span></td>
                                <td><span th:text="${product.updDate}"></span></td> -->
                                <td></td>
                                <td></td>
                                <td><a th:href="|/product/product_update?productNo=${product.productNo}|">수정</a></td>
                                <td><a href="javascript:;">삭제</a></td>
  
                                <td></td>
                            </tr>
                        </th:block>
                    </tbody>
                </thead>

            </table>
        </th:block>
        <th:block th:if="${ProductList==null}" >
            <th:block th:if="${ProductList.isEmpty()}">
                <tr>
                    <td colspan="6">등록된 상품(항공권)이 없습니다.</td>
                </tr>
            </th:block>
        </th:block>
    </body>
</html>        
