/* @charset "UTF-8";
* {
	padding: 0;
	margin: 0;
}

.wrapper {
	width: 250px;
	height: 250px;
	background: #C2185B;
}

.wrapper div {
	position: absolute;
	background: #ffffff;
	border-radius: 50%;
	box-shadow: 7px 7px 10px 1px rgba(0, 0, 0, 0.5);
}

.circle1 {
	width: 80px;
	height: 80px;
	top: 80px;
	left: 80px;
	/* 추가된 부분 */
	animation: scale1 2s;
}

@keyframes 
scale1 { 0% {
	transform: scale(0)
}

100%{
transform


:scale(1)


}
}
body {
	font-family: Arial, Helvetica, sans-serif;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 60px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	border: 1px solid #888;
	width: 80%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s;
	width: 42%;
}

/* Add Animation */
@-webkit-keyframes 
animatetop {
	from {top: -300px;
	opacity: 0
}

to {
	top: 0;
	opacity: 1
}

}
@keyframes 
animatetop {
	from {top: -300px;
	opacity: 0
}

to {
	top: 0;
	opacity: 1
}

}

/* The Close Button */
.close {
	color: #6d6e70;
    float: right;
    font-size: 28px;
    position: relative;
    font-weight: bold;
    bottom: 8px;
}

.close:hover, .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.modal-header {
	padding: 5px 16px;
    background-color: #f1f1f1;
}

.modal-body {
	padding: 2px 16px;
	margin-top: 20px;
	height: 550px;
}

.modal-footer {
	padding: 15px 16px;
    background-color: #bbbbbb;
    color: black;
    text-align: right;
}

.modalInnerWrap {
	height: 100%;
}

.modalInnerLeft {
	width: 55%;
	height: 600px;
	background-color: red;
	float: left;
	height: 85%;
}

.modalInnerRight {
	width: 45%;
	height: 600px;
	float: left;
	height: 85%;
}

.modalInnerRightTop {
	height: 57%;
    padding: 15px;
    margin-left: 10px;
    border: 1px solid #d60815;
    margin-bottom: 10px;
}

.modal-header2 {
	    background-color: #d60815;
    height: 95px;
    color: white;
}

.modalInnerBottom {
	background-color: chocolate;
	width: 45%;
	margin: 0 auto;
	display: inline-block;
	margin-left: 210px;
	height: 55px;
	margin-top: 15px;
}

.left1 {
	height: inherit;
}

.nameView {
	background-color: #d60815;
    height: 50px;
}
.nameViewInner{
	display: inline;
    top: 10px;
    position: relative;
    left: 195px;
    font-size: 20px;
    color: white;
}
.seatView {
	overflow-y: scroll;
	/* height: -webkit-fill-available; */
	height: 362px;
	background: url('/img/backgroundTest.png');
	background-attachment:local;
}

.seatView input {
	-webkit-appearance: checkbox;
	width: 10px;
	height: 10px;
	opacity: 1;
}

.seatWarning {
	height: 56px;
	background-color: #6d6e70;
	color: white;
}

.seat1 {
	width: inherit;
	display: inline-table;
	margin-left: 17px;
	width: fit-content;
}

.seat2 {
	width: inherit;
	display: inline-table;
	margin-left: 50px;
	width: fit-content;
}

input[type="text"] {
	border: none;
	cursor: unset;
	font-size: 17px;
}

input:focus {
	outline: none;
}
/* 
input[type=checkbox] {
	display: none; 
} */

input[type=checkbox]:disabled {
	display: none;
}
.direction {
	text-align: center;
    position: relative;
    top: 30px;
    left: 338px;
    display: inline;
}
.bookable {
	cursor: pointer;
	display: inline-block;
	cursor: pointer;
	line-height: 22px;
	padding-left: 22px;
	background: url('/img/bookableSeat.png') left/22px
		no-repeat;
	height: 30px;
}

.booking {
	display: inline-block;
	cursor: pointer;
	line-height: 22px;
	padding-left: 22px;
	background: url('/img/bookingSeat.png') left/22px
		no-repeat;
	height: 30px;
}

.over {
	display: inline-block;
	cursor: pointer;
	line-height: 22px;
	padding-left: 22px;
	background: url('/img/bookingSeat.png') left/22px	no-repeat;
	height: 30px;
}

.bookend {
	display: inline-block;
	cursor: pointer;
	line-height: 22px;
	padding-left: 22px;
	background: url('/img/bookedSeat.png') left/22px no-repeat;
	height: 30px;
}

.booked {
	display: inline-block;
	cursor: pointer;
	line-height: 22px;
	padding-left: 22px;
	background: url('/img/bookedSeat.png') left/22px no-repeat;
	height: 30px;
}

.area {
	width: 15px;
	display: inline-block;
}

label {
	margin-left: 5px;
}
.depSeat,.arrSeat {
	width: 250px;
	margin-left: 83px;
}
.modalInnerBottom2 {
	margin-top: 30px;
    float: left;
    margin-left: 185px;
    text-align: center;
}
.depBookGo{
	float: left;
    width: 150px;
    background-color: indianred;
}
.bookOk {
	margin-left: 50px;
    float: left;
    width: 150px;
    background-color: darkolivegreen;
}
.seatInfo_bookSeat{
	margin-right: 15px;
    float: left;

}
.modalInnerRightDown {
	height: 334px;
    padding: 15px;
    box-sizing: border-box;
    border: #E22B2A solid 1px;
    margin-left: 10px;
}
.seatInfo_bookedSeat {
	margin-top: 10px;
}
.modalInnerRightDown input {
     background: transparent;
     margin-bottom: 5px;
 }
.modalInnerRightDown div {
	font-size:18px;
	margin-bottom: 5px;
 }
 input[type="text"]:hover, input[type="password"]:hover, input[type="email"]:hover, input[type="number"]:hover {
    border: none;
    background-color: transparent;
}
#btn ,#btn2 ,#btn3 {
	height: 50px;
    border-radius: 4px;
    background-color: #d60815;
    border: none;
    color: #FFFFFF;
    font-size: 18px;
    transition: all 0.5s;
    cursor: pointer;
}

#btn span, #btn2 span, #btn3 span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

#btn span:after,  #btn3 span:after{
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}
#btn2 span:before {
	content: '\00AB';
  	position: absolute;
  	opacity: 0;
  	top: 0;
  	left: -20px;
 	transition: 0.5s;
}
#btn:hover span,  #btn3:hover span{
	padding-right: 25px;
}
#btn2:hover span{
	padding-left: 25px;
}
#btn:hover span:after,  #btn3:hover span:after{
	opacity: 1;
	right: 0;
}
#btn2:hover span:before {
	opacity: 1;
	left: 0;
}
#btn2 {
    position: relative;
    float: left;
    display: inline;
    bottom: 11px;
    width: 200px;
}
#btn3 {
    position: relative;
    left: 165px;
    width: 200px;
    bottom: 61px;
}
.warning {
	position: relative;
    top: 15px;
    left: 120px;
    font-size: 16px;
    text-shadow: -1px 0 #6b6b6b, 0 1px #6b6b6b, 1px 0 #6b6b6b, 0 -1px #6b6b6b;
}

.modalInnerRightDown input[type="text"]{
    height: 0;
    padding: 0 15px;
    margin-right: 10px;
    border: 1px solid #f3f3f3;
    border-bottom: 1px solid #ddd;
    color: #222;
    background-color: #f3f3f3;
    font-size: 16px;
    line-height: 40px;
}
.goSeat, .backSeat{
	border-bottom: 1px red solid;
}
input[type="text"]:hover{
	    border: 1px solid #ccc;
    background-color: white;
} */