@charset "UTF-8";
* {
	padding: 0;
	margin: 0;
}



.wrapper {
	width: 250px;
	height: 250px;
	background: #94e1ff;
}

.wrapper div {
	position: absolute;
	background: #ffffff;
	border-radius: 50%;
	box-shadow: 7px 7px 10px 1px rgba(0, 0, 0, 0.5);
}

.circle1 {
	width: 80px;
	height: 80px;
	top: 80px;
	left: 80px;
	/* 추가된 부분 */
	animation: scale1 2s;
}

@keyframes 
scale1 { 0% {
	transform: scale(0)
}

100%{
transform


:scale(1)


}
}
body {
	font-family: Arial, Helvetica, sans-serif;
}


/* Add Animation */
@-webkit-keyframes 
animatetop {
	from {top: -300px;
	opacity: 0
}

to {
	top: 0;
	opacity: 1
}

}
@keyframes 
animatetop {
	from {top: -300px;
	opacity: 0
}

to {
	top: 0;
	opacity: 1
}

}

.seat-content {
	width: 100%;
}

.seat-header {
	text-align: center;
	padding: 5px 16px;
    background-color: #f1f1f1;
}

.seat-header2 {
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	background-color: #b6b6b6;
    height: 95px;
    color: white;
}

.seat-body {
	justify-content: center;
	padding: 2px;
	margin-top: 20px;
	width: 100%;
	height: 550px;
}

.seatInnerLeft {
	width: 55%;
	background-color: white;
	float: left;
	height: 100%;
}

.seatInnerRight {
	width: 45%;
	float: left;
	height: 100%;
}

.seatInnerRightTop {
	height: 57%;
    padding: 15px;
    margin-left: 10px;
    border: 1px solid #94e1ff;
    margin-bottom: 10px;
}



.seatInnerBottom {
	background-color: #94e1ff;
	width: 45%;
	margin: 0 auto;
	display: inline-block;
	margin-left: 210px;
	height: 55px;
	margin-top: 15px;
}

.left1 {
	height: inherit;
}

.nameView {
	background-color: #fffbc6;
    height: 50px;
}

.seatView {
	overflow-y: scroll;
	width: 100%;
	/* height: -webkit-fill-available; */
	height: 365px;
	background-image: url('/img/backgroundTest.png');
	background-attachment:local;
	background-position-x: center;
}

.seatView input {
	-webkit-appearance: checkbox;
	width: 10px;
	height: 10px;
	opacity: 1;
}


input[type="text"] {
	border: none;
	cursor: unset;
	font-size: 17px;
}

input:focus {
	outline: none;
}

.seat1 {
	width: inherit;
	display: inline-table;
	margin-left: 50%;
	width: fit-content;	
}

.seatCol {
	margin-left: 65px;
}

/* 체크 박스 여기 */

input[type=checkbox] {
	/* checkbox의 실제 체크박스 부분을 숨깁니다. */
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	outline: none;

	/* checkbox의 크기와 여백을 조정합니다. */
	width: 20px; /* 원하는 크기로 조정하세요 */
	height: 20px; /* 원하는 크기로 조정하세요 */
	margin: 5px 15px 5px 5px; /* 원하는 여백으로 조정하세요 */

	
	/* 배경 이미지 설정 */
	background-image: url(/img/bookableSeat.png);
	background-size: cover; /* 이미지를 적절하게 확대/축소하여 채우도록 설정합니다. */

	cursor: pointer;


}

/* .seat1 .seatBox:checked { */
.seat1 .seatBox.checked { 
	background-image: url(/img/bookingSeat.png);
}


.seat1 .seatBox:disabled {
	background-image: url(/img/bookedSeat.png);
	cursor: default;
}

.seat1 label {
	display: none;
}


/* input[type=checkbox] {
	display: none;
}

input[type=checkbox]:disabled {
	display: none;
} */

.direction {
	text-align: center;
    position: relative;
    top: 30px;
    left: 338px;
    display: inline;
}

.bookable {
	cursor: pointer;
	display: inline-block;
	cursor: pointer;
	line-height: 22px;
	padding-left: 22px;
	background: url('/img/bookableSeat.png') left/22px no-repeat;
	height: 30px;
}

.booking {
	display: inline-block;
	cursor: pointer;
	line-height: 22px;
	padding-left: 22px;
	background: url('/img/bookingSeat.png') left/22px no-repeat;
	height: 30px;
}

.over {
	display: inline-block;
	cursor: pointer;
	line-height: 22px;
	padding-left: 22px;
	background: url('/img/bookingSeat.png') left/22px no-repeat;
	height: 30px;
}

.bookend {
	display: inline-block;
	cursor: pointer;
	line-height: 22px;
	padding-left: 22px;
	background: url('/img/bookedSeat.png') left/22px no-repeat;
	height: 30px;
}

.booked {
	display: inline-block;
	cursor: pointer;
	line-height: 22px;
	padding-left: 22px;
	background: url('/img/bookedSeat.png') left/22px no-repeat;
	height: 30px;
}

.area {
	width: 15px;
	display: inline-block;
}

label {
	margin-left: 5px;
}
.depSeat,.arrSeat {
	justify-content: center;
}
.seatInnerBottom2 {
	margin-top: 30px;
    float: left;
    margin-left: 185px;
    text-align: center;
}
.depBookGo{
	float: left;
    width: 150px;
    background-color: #94e1ff;
}
.bookOk {
	margin-left: 50px;
    float: left;
    width: 150px;
    background-color: darkolivegreen;
}
.seatInfo_bookSeat{
	margin-right: 15px;
    float: left;

}
.seatInnerRightDown {
	height: 334px;
    padding: 15px;
    box-sizing: border-box;
    border: #94e1ff solid 1px;
    margin-left: 10px;
}
.seatInfo_bookedSeat {
	margin-top: 10px;
}
.seatInnerRightDown input {
     background: transparent;
     margin-bottom: 5px;
 }
.seatInnerRightDown div {
	font-size:18px;
	margin-bottom: 5px;
 }
 input[type="text"]:hover, input[type="password"]:hover, input[type="email"]:hover, input[type="number"]:hover {
    border: none;
    background-color: transparent;
}
#btn ,#btn2 ,#btn3 {
	height: 50px;
    border-radius: 4px;
    background-color: #000000;
    border: none;
    color: #FFFFFF;
    font-size: 18px;
    transition: all 0.5s;
    cursor: pointer;
}

#btn span, #btn2 span, #btn3 span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

#btn span:after,  #btn3 span:after{
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}
#btn2 span:before {
	content: '\00AB';
  	position: absolute;
  	opacity: 0;
  	top: 0;
  	left: -20px;
 	transition: 0.5s;
}
#btn:hover span,  #btn3:hover span{
	padding-right: 25px;
}
#btn2:hover span{
	padding-left: 25px;
}
#btn:hover span:after,  #btn3:hover span:after{
	opacity: 1;
	right: 0;
}
#btn2:hover span:before {
	opacity: 1;
	left: 0;
}
#btn2 {
    position: relative;
    float: left;
    display: inline;
    bottom: 11px;
    width: 200px;
}
#btn3 {
    position: relative;
    left: 165px;
    width: 200px;
    bottom: 61px;
}
.warning {
	position: relative;
    top: 20px;
    left: 130px;
    font-size: 16px;
    text-shadow: -1px 0 #6b6b6b, 0 1px #6b6b6b, 1px 0 #6b6b6b, 0 -1px #6b6b6b;
}

.seatInnerRightDown input[type="text"]{
    height: 0;
    padding: 0 15px;
    margin-right: 10px;
    border: 1px solid #f3f3f3;
    border-bottom: 1px solid #ddd;
    color: #222;
    background-color: #f3f3f3;
    font-size: 16px;
    line-height: 40px;
}
.goSeat, .backSeat{
	border-bottom: 1px #94e1ff solid;
}
input[type="text"]:hover{
	    border: 1px solid #ccc;
    background-color: white;
}
