@charset "UTF-8";

/* 초기화 */
* { margin: 0 auto;
    padding: 0;
    box-sizing: border-box; 
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline; }

li, ol, ul { list-style: none; }

a { text-decoration: none;
    color: inherit; }

img { max-width: 100%; }

button { cursor: pointer; }

body { font-family: "Noto Sans KR", sans-serif !important; }

/* HTML5 display-role reset for older browsers */
/* article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

::-webkit-scrollbar {
width: 10px;
}

::-webkit-scrollbar-track {
	background-color:transparent;
	border-radius: 7px;
}

::-webkit-scrollbar-thumb {
	width:30px;
	background-color: #e0dada;
	border-radius: 7px;
}
