/* HEADER */
.header_container {
    display: inline-block;
    align-items: right;
    width: 100%;
    height: 120px;
    border: 1px solid orange;
}

.header_inner {
    position: absolute;
    display: inline-block;

    width: 100%;
    height: 30px;
    background-color: black;
}

.header_inner > ul {
    display: flex;
    border: 1px solid white;
    justify-content: flex-end;
}

.header_inner > ul > li {
   margin-right: 30px;
}

.header_inner > ul > li > a {
    text-align: center;
    color: whitesmoke
}

/* 장바구니 아이콘 */
.header_image {
    width: 25px;
    height: 25px;
}

/* HEADER - gnb */
.header_gnb {
    width: 100%;
    height: 90px;
    background-color: whitesmoke;
    margin-bottom: 20px;
}

/* 로고 */
.header_logo {
    width: 80px;
    height: 80px;
}

.header_logo > img {
    width: 100%;
    height: 100%;
    margin: 5px 5px 5px 5px;
}

.dropdown {
    padding-right: 3%;
}

.dropdown strong {
    padding-left: 10px;
    color: whitesmoke;
    text-align: center;
}

.dropdown > li {
    color: whitesmoke;
    display: none;
}

.content_container {
    display: block;
    width: 100%;
    height: 300px;
    border: 1px solid red;
}

.content_container {
    padding-top: 35px;
}

/** ADMIN_FOOTER **/
.admin_footer_container {
  margin-top: 150px;
  width: 100%;
  height: 50px;
}

/* FOOTER */
.footer_link {
    display: felx;
    justify-content: space-between;
    padding-top: 10px;
    margin-bottom: 20px;

    position: absolute;
    /* margin-bottom: -540px; */
    bottom: 180px;
    width: 100%;
}

.footer_link > p {
    padding-left: 40px;
    padding-right: 40px;
}

.footer_container {
    position: absolute;
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
  }
  
  .footer_section1 {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  .footer_section2 {
    display: flex;
    align-items: center;
  }

  .footer_section3 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .logo {
    float: left;
    margin-top: 40px;
    width: 120px;
    height: 120px;
  }
  
  .logo ::after {
    clear: left;
    content: "";
    display: block;
  }

  .logo > img {
    width: 100%;
    height: 100%;
  }
  
  .copy_content {
    text-align: center;
    justify-content: space-around;
    width: 900px;
    color: whitesmoke;
    line-height: 25px;
  }
  
  .copy {
    color: whitesmoke;
    text-align: center;
  }

  .copy > p {
    text-align: center;
  }
  
  .sns {
    float: right;
    width: 300px;
    clear: right;
  }

  .sns ::after {
    clear: right;
    content: "";
    display: block;
  }
  
  .sns > span > a > img {
    margin-right: 10px;
    width: 40px;
    height: 40px;
  }

  /* .footer .container .family > select {
    width: 120px;
    height: 5px;
    border-radius: 10px;
    margin-right: 10px;
    text-align: center;
    background-color: #eee;
  } */

/* INDEX - CONTENT : 항공권 조회 */
#index_body {
    float: left;
}

.content_container {
    width: 1200px;
}

#main_index_back {
  width: 100%;
  height: 500px;
  background-image: url(/img/background.png);
  background-size: 100%;
  object-fit: cover;
}

#searchFlight {
  border: 1px solid blue;
  width: 1280px;
  height: 300px;
}


#booking_btn {
	float: left;
	position: absolute;
	margin-left: 20px;
}

.dropdown-select {
  display: none;
      position: absolute;
      top: 53px;
      left: 0px;
      background: #fff;
      z-index: 999;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
      box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
      width: 201px;
  }
  
  .dropdown-select.show {
    display: block;
  }

/* 슬라이드
#image_slide {
    height: 480px;
  }
   */
/* 슬라이드 이미지 */
/* .slide > img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
  }
   */
  /* 기본 커스텀 */
  /* .bx-wrapper {
    box-shadow: 0 0 0 transparent;
    border: 0 solid #fff;
    background-color: #fff;
  } */
  
  /************** 페이지네이션 커스텀 **************/
  /* .bx-wrapper .bx-pager.bx-default-pager a {
    background-color: rgb(182, 180, 180);
  }
  
  .bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus {
    background-color: black;
  }
  
  .bx-wrapper .bx-pager.bx-default-pager a {
    border-radius: 50%;
  } */
  
  /************** 네비게이션 화살표 커스텀 **************/
  /* .bx-wrapper .bx-prev { 
    background: url(../img/prev.png) no-repeat left center; 
    background-size: 32px 32px;
  }
  .bx-wrapper .bx-next { 
    background: url(../img/next.png) no-repeat left center; 
    background-size: 32px 32px;
  }
  
  .bx-wrapper .bx-prev:hover,
  .bx-wrapper .bx-prev:focus { background-position: 0 0; }
  .bx-wrapper .bx-prev:hover { filter: brightness(60%); }
  
  .bx-wrapper .bx-next:hover,
  .bx-wrapper .bx-next:focus { background-position: 0 0; }
  .bx-wrapper .bx-next:hover { filter: brightness(60%); } */

/**
* 중복 아이디
*/
/* 중복아이디 존재하지 않는경우 */
/* .id_input_re_1{
    color : green;
    display : none;
} */
/* 중복아이디 존재하는 경우 */
/* .id_input_re_2{
    color : red;
    display : none;
} */

/* 로그인 실패시 경고 */
/* .login_warn {
    margin-top: 30px;
    text-align: center;
    color: red;
} */


 
/* 로그인 성공 영역 */
/* .login_success_area{
    height: 62%;
    width: 80%;
    border: 2px solid #7474ad;
    border-radius: 15px;
    margin: 5% auto;
    padding-top: 5%;
}
.login_success_area>span{
    display : block;
    text-align: left;
    margin-left: 10%;
}
.login_success_area>a{
    font-size: 15px;
    font-weight: 900;
    display: inline-block;
    margin-top: 5px;
    background: #e1e5e8;
    width: 82px;
    height: 22px;
    line-height: 22px;
    border-radius: 25px;
    color: #606267;    
} */


.form-check, .form-check-input, .radio-row, .login_checkbox {
  display: block;
}


/* main index.html css */
.start_departure {width: 20%;}
.end_departure {width: 20%;}
.calander {width: 40%;}
.passenger {width: 10%;}
.search_btn {width: 10%;}
.none {display: none;}
