<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace="매퍼 인터페이스 경로" -->
<mapper namespace="com.joeun.dreamair.mapper.BookingMapper">

    <!-- <select id="list" resultType="Booking">
        SELECT f.flight_no
              ,f.seat_remaining
              ,p.product_price
              ,t.departure
              ,t.destination
              ,t.duration
        FROM 
        WHERE t.departure = #{departure} 
          AND t.destination = #{destination}
          AND t.departure_time = #{departureTime}
          AND b.round_trip = #{roundTrip}
          AND f.seat_remaining > #{pasCount}
    </select>  -->

        <!-- <select id="list" resultType="Booking">
         SELECT f.flight_no
              ,f.seat_remaining
              ,p.product_price
              ,p.departure
              ,p.destination
              ,p.departure_time
              ,p.destination_time
              ,p.duration
        FROM flight f left join product p on f.route_no = p.route_no
        WHERE p.departure = #{departure}
          AND p.destination = #{destination}; 
    </select>  -->
    
    <select id="list" resultType="Booking">
         SELECT *
        FROM flight f left join product p on f.route_no = p.route_no
				left join route r on f.route_no = r.route_no
        WHERE p.departure = #{departure}
          AND p.destination = #{destination} 
          AND SUBSTRING_INDEX(r.departure_time, ' ', 1) = #{departureTime};
          <!-- 추후에 탑승객 조건도 추가해야함 -->
    </select> 

    <insert id="info">
            INSERT INTO passengers ( product_no, route_no, passenger_name, first_name, last_name, gender, pin_type, birth, phone, email )
            VALUES ( #{productNo}, #{routeNo}, #{passengerName}, #{firstName}, #{lastName}, #{gender}, #{pinType}, #{birth}, #{phone}, #{email} )
    </insert>

<!-- 회원의 예매 번호(가장 최근) -->
<select id="latest_user_bookingNo" resultType="Booking">
    SELECT booking_no FROM booking ORDER BY user_no = #{userNo} DESC LIMIT 1;  
</select>

<!-- 비회원의 예매 번호(가장 최근) -->
<select id="latest_user2_bookingNo" resultType="Booking">
    SELECT booking_no FROM booking ORDER BY user_no2 = #{userNo2} DESC LIMIT 1;
</select>


<!-- 티켓 발행 등록 -->
<!-- ✅ TODO -->
<insert id="createTicket">
  INSERT INTO ticket ( passenger_no, passenger_name, departure, destination, departure_date, destination_date, departure_time, destination_time, duration, boarding, checked_in, is_boarded, route_no, seat_no, flight_no )
  VALUES ( #{passengerNo}, #{passengerName}, #{departure}, #{destination}, #{departureDate}, #{destinationDate}, #{departureTime}, #{destinationTime}, #{duration}, #{boarding}, #{checked_in}, #{is_boarded}, #{routeNo}, #{flightNo} )
</insert>

</mapper>