<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace="매퍼 인터페이스 경로" --> 
<mapper namespace="com.joeun.dreamair.mapper.FileMapper">

    <!-- 파일 목록 -->
    <select id="list" resultType="Files">
        SELECT *
        FROM file
        ORDER BY reg_date DESC
    </select>

    <!-- 파일 목록 - 부모 테이블 기준 -->
    <!-- * 파일이 종속되는 테이블을 기준으로 파일 목록을 조회 -->
    <!-- * 게시글 번호 10 
           📄 파일 번호 1
           📄 파일 번호 2
           📄 파일 번호 3
     -->
    <select id="listByParent" resultType="Files">
        SELECT a.*
        , CASE WHEN INSTR(UPPER(origin_name), 'PNG') > 0 then 'img'
				   WHEN INSTR(UPPER(origin_name), 'GIF') > 0 then 'img'
			       WHEN INSTR(UPPER(origin_name), 'JPG') > 0 then 'img'
			       WHEN INSTR(UPPER(origin_name), 'JPEG') > 0 then 'img'
			       WHEN INSTR(UPPER(origin_name), 'BMP') > 0 then 'img'
			       ELSE 'imgx'
			       END fileType
        FROM file a
        WHERE a.parent_table = #{parentTable}
          AND a.parent_no = #{parentNo}
        ORDER BY a.reg_date DESC
    </select>

    <!-- 파일 조회 -->
    <select id="select" resultType="Files">
        SELECT a.*
			, CASE WHEN INSTR(UPPER(origin_name), 'PNG') > 0 then 'img'
				   WHEN INSTR(UPPER(origin_name), 'GIF') > 0 then 'img'
			       WHEN INSTR(UPPER(origin_name), 'JPG') > 0 then 'img'
			       WHEN INSTR(UPPER(origin_name), 'JPEG') > 0 then 'img'
			       WHEN INSTR(UPPER(origin_name), 'BMP') > 0 then 'img'
			       ELSE 'imgx'
			       END fileType
        FROM file a
        WHERE a.file_no = #{fileNo}
    </select>

    <!-- 파일 등록 -->
    <insert id="insert">
        INSERT INTO file( parent_table, parent_no, file_name, origin_name, file_path, file_size, file_code, board_no )
        VALUES ( #{parentTable}, #{parentNo}, #{fileName}, #{originName}, #{filePath}, #{fileSize}, #{fileCode}, #{board_no} )
    </insert>

    <!-- 파일 수정 -->
    <update id="update">
        UPDATE file
           SET parent_table = #{parentTable}
              ,parent_no = #{parentNo}
              ,file_name = #{fileName}
              ,origin_name = #{originName}
              ,file_path = #{filePath}
              ,file_size = #{fileSize}
              ,file_code = #{fileCode}
        WHERE file_no = #{fileNo}
    </update>

    <!-- 파일 삭제 -->
    <delete id="delete">
        DELETE FROM file
        WHERE board_no = #{board_no}
    </delete>


    <!-- 파일 목록 삭제 - 부모 테이블 기준 파일 목록 삭제 -->
    <delete id="deleteByParent">
        DELETE FROM file
        WHERE parent_table = #{parentTable}
          AND parent_no = #{parentNo}
    </delete>
    
    <select id="selectFilesByBoardNo" resultType="Files">
        SELECT * FROM Files WHERE parentNo = #{boardNo}
    </select>

    <select id="selectFilesByFlightNo" resultType="Files">
        SELECT * FROM Files WHERE parentNo = #{flightNo}
    </select>

    <select id="selectFilesByProductNo" resultType="Files">
        SELECT * FROM Files WHERE parentNo = #{productNo}
    </select>


    <!-- 썸네일 조회 -->
    <select id="selectThumbnail" resultType="Files">
        SELECT a.*
         , CASE WHEN INSTR(UPPER(origin_name), 'PNG') > 0 then 'img'
				   WHEN INSTR(UPPER(origin_name), 'GIF') > 0 then 'img'
			       WHEN INSTR(UPPER(origin_name), 'JPG') > 0 then 'img'
			       WHEN INSTR(UPPER(origin_name), 'JPEG') > 0 then 'img'
			       WHEN INSTR(UPPER(origin_name), 'BMP') > 0 then 'img'
			       ELSE 'imgx'
			       END fileType
        FROM file a
        WHERE a.parent_table = #{parentTable}
          AND a.parent_no = #{parentNo}
          AND a.file_code = 0
    </select>

</mapper>