<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 상품명 / 출발일 / 결제 금액 / 상태 /  -->
<!-- departure+"-"+destination / departure_date / 50000(하드 코딩) / is_boarded -->

<!-- namespace="매퍼 인터페이스 경로" -->
<mapper namespace="com.joeun.dreamair.mapper.TicketMapper">

    <resultMap type="Booking" id="ticketMap">
        <id property="userNo" column="user_no" />
        
        <result property="userNo" column="user_no" />
        <result property="userId" column="user_id" />

        <result property="departure" column="departure" />
        <result property="destination" column="destination" />
        <result property="departureDate" column="departure_date" />
        <result property="isBoarded" column="is_boarded" />
        
        <result property="password" column="password" />
        <result property="phone" column="phone" />
        
    </resultMap>


    <!-- 탑승권 조회 - 회원 -->
    <select id="selectBookingByUser" resultMap="ticketMap">
        SELECT CONCAT(departure, '-', destination) AS name
        FROM ticket
        WHERE user_id = #{userId}
    </select>



</mapper>