<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace="매퍼 인터페이스 경로" -->
<mapper namespace="com.joeun.dreamair.mapper.UserMapper">

   

    <!-- 로그인(회원, 비회원, 관리자) -->
    <!-- <select id="login" resultMap="userMap">
        SELECT users.user_id, users.user_pw, users.phone, auth.auth
        FROM users JOIN auth ON auth.user_id = #{userId}
        UNION
        SELECT admin_id AS user_id, admin_pw AS user_pw, NULL AS phone, auth.auth
        FROM admin
        JOIN auth ON admin.admin_id = #{userId};
    </select> -->



    <!-- 회원 조회 - id -->
    <select id="selectById" resultType="Users">
        SELECT *
        FROM users
        WHERE user_id = #{userId}
    </select>



    <!-- 회원 등록 -->
    <insert id="insert">
        INSERT INTO users( user_id, user_pw, name, email, phone, address )
        VALUES ( #{userId}, #{userPw}, #{name} ,#{email}, #{phone}, #{address} )
    </insert>

    <!-- 회원 권한 등록 -->
    <insert id="insertAuth">
        INSERT INTO auth( user_id, auth ) 
        VALUES ( #{userId}, #{auth} )
    </insert>

    <!-- 회원 수정 -->
    <update id="update">
        UPDATE users
           SET user_id = #{userId}
              ,user_pw = #{userPw}
              ,name = #{name}
              ,phone = #{phone}
              ,email = #{email}
              ,address = #{address}
        WHERE user_id = #{userId}
    </update>

    <!-- 회원 탈퇴 -->
    <delete id="delete">
        DELETE FROM user
        WHERE user_id = #{userId}
    </delete>

    <!-- 마일리지 -->
    <!-- 1. 최근 등록된 userNo 조회 -->
    <select id="latedUserNo" resultType='Integer'>
        SELECT user_no 
        FROM users 
        ORDER BY user_no DESC LIMIT 1
    </select>

    <!-- 2. 마일리지 적립 -->
    <insert id="mileageInsert">
       INSERT INTO mileage (user_no, mileage) 
       VALUES ( ${userNo}, 0 )
    </insert>

  	<!-- 아이디 중복검사 -->
  	<select id="idCheck" resultType="int">
  		SELECT count(*) FROM users where userId = #{userId}
  	</select>
</mapper>