<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace="매퍼 인터페이스 경로" -->
<mapper namespace="com.joeun.dreamair.mapper.UserMapper">

    <!-- Users 매핑-->
    <resultMap type="Users" id="userMap">
        <id property="userNo" column="user_no" />
        
        <result property="userNo" column="user_no" />
        <result property="userId" column="user_id" />
        <result property="userPw" column="user_pw" />
        <result property="name" column="name" />
        <result property="phone" column="phone" />
        <result property="address" column="address" />
        <result property="email" column="email" />
        <result property="status" column="status" />
        <result property="regDate" column="reg_date" />
        <result property="updDate" column="upd_date" />
        
        <collection property="authList" resultMap="authMap"></collection>
    </resultMap>
        
    <!-- UserAuth 매핑 -->
    <resultMap type="Auth" id="authMap">
        <result property="userId" column="user_id" />
        <result property="auth" column="auth" />
    </resultMap>



    <!-- 회원 등록 -->
    <!-- users 테이블에 회원 등록 -->
    <insert id="insertUsers" parameterType="Users">
        INSERT INTO users( user_id, user_pw, name, email, phone, address )
        VALUES ( #{userId}, #{userPw}, #{name}, #{email}, #{phone}, #{address} );
    </insert>

    <!-- mileage 테이블에 회원 추가 -->
    <insert id="insertMileage" parameterType="Users">
        INSERT INTO mileage( user_id )
        VALUES( #{userId} );
    </insert>

    <!-- 회원 권한 등록 -->
    <insert id="insertAuth">
        INSERT INTO auth( user_id, auth ) 
        VALUES ( #{userId}, #{auth} )
    </insert>



    <!-- 회원 조회 - id -->
    <select id="login" resultMap="userMap">
        SELECT u.user_no
              ,u.user_id
              ,user_pw
              ,name
              ,email
              ,status
              ,reg_date
              ,upd_date
              ,auth
        FROM users u LEFT OUTER JOIN auth
                    ON u.user_id = auth.user_id
        WHERE u.user_id = #{userId}
    </select>



    <!-- 회원 조회 - id -->
    <select id="selectById" resultType="Users">
        SELECT *
        FROM users
        WHERE user_id = #{userId}
    </select>



    <!-- user_no 조회 - id -->
    <select id="selectUserNoByUserId" resultType="int">
        SELECT user_no
        FROM users
        WHERE user_id = #{userId}
    </select>



    <!-- 회원 수정 -->
    <update id="update">
        UPDATE users
           SET user_id = #{userId}
              ,user_pw = #{userPw}
              ,name = #{name}
              ,phone = #{phone}
              ,email = #{email}
              ,address = #{address}
        WHERE user_id = #{userId}
    </update>



    <!-- 회원 삭제 -->
    <delete id="delete">
        DELETE users, auth
        FROM users JOIN auth ON users.user_id = auth.user_id        
        WHERE users.user_id = #{userId} AND auth.user_id = #{userId}
    </delete>
    

    <select id="selectMileage" resultType="Users">
        SELECT mileage
        FROM mileage
        WHERE user_id = #{userId}
    </select>



    <!-- 회원 / 비회원 선생님 예시 -->
    <!-- <select id="login" resultType="Users">
        SELECT *
        FROM user
        ...
    </select>

    <select id="login2" resultType="Users">
        SELECT *
        FROM user2
        ...
    </select> -->

    <!-- 장바구니 -->
    <select id="user_cart_list" resultType="Users">
        SELECT *
        FROM cart
        WHERE user_no=#{userNo}
    </select>

    <select id="user2_cart_list" resultType="Users">
        SELECT *
        FROM cart
        WHERE user_no2=#{userNo2}
    </select>

</mapper>

