<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/UI/layout/user_layout}"
      >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>체크인</title>

</head>
<body layout:fragment="content" class="pt-5">
    <div class="content_container">
        <i class="fa-regular fa-circle-check"></i>
        <h1 class="text-center my-3">체크인이 완료되었습니다.</h1>

        <button class="btn btn-primary me-md-2" type="button"><a th:href="|/booking/ticketInfo?ticketNo=${ticket.ticketNo}|">나의 탑승권 미리보기</button>   

    </div>
        
</body>
</html>
    