<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/UI/layout/main_layout}"
      >
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>개발을 꿈꾸는 항공사</title>


</head>

<body layout:fragment="content">

    <div class="container">
        <h1 style="text-align: center;">탑승객 정보입력</h1>
        <h2 style="text-align: center;">신분증 정보와 동일하게 입력해주세요.</h2>

        <form class="needs-validation" novalidate action="/user/update" method="post" th:object="${user}">   
            <!-- csrf -->
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

            <div class="row g-3">
  
              <div class="col-5">
                <label for="userId" class="form-label">이름</label>
                <div class="input-group has-validation">
                  <!-- <span class="input-group-text">아이디</span> -->
                  <input type="text" class="form-control"  placeholder="이름" required>
                         <!-- th:field="*{userId}" -->
                  <div class="invalid-feedback">
                    Your username is required.
                  </div>
                </div>
              </div>

              <div class="col-5">
                <label for="userPw" class="form-label">생년월일</label>
                <div class="input-group has-validation">
                  <input type="password" class="form-control" id="userPw" placeholder="생년월일" required>
                         <!-- name="userPw"> -->
                  <div class="invalid-feedback">
                    Your username is required.
                  </div>
                </div>
              </div>

  
              <div class="col-5">
                <label for="name" class="form-label">국적</label>
                <input type="text" class="form-control" placeholder="국적">
                       <!-- th:field="*{name}"> -->
                <div class="invalid-feedback">
                  Please enter a valid email address for shipping updates.
                </div>
              </div>

              <div class="col-5">
                <label for="name" class="form-label">핸드폰 번호</label>
                <input type="text" class="form-control" placeholder="핸드폰 번호">
                       <!-- th:field="*{name}"> -->
                <div class="invalid-feedback">
                  Please enter a valid email address for shipping updates.
                </div>
              </div>

              <div class="col-5">
                <label for="email" class="form-label">이메일 <span class="text-body-secondary">(선택사항)</span></label>
                <input type="email" class="form-control" placeholder="email@example.com">
                       <!-- th:field="*{email}"> -->
                <div class="invalid-feedback">
                  Please enter a valid email address for shipping updates.
                </div>
              </div>
  
            </div>
  
            <hr class="my-4">
  
            <div class="d-flex justify-content-between">
                <a href="/user/select" class="btn btn-outline-primary btn-lg">취소</a>
                <button type="submit" class="btn btn-outline-primary btn-lg">좌석선택</button>
            </div>
        </form>

       

    </div>
    
</body>
</html>