<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/UI/layout/main_layout}"
      >
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>개발을 꿈꾸는 항공사</title>


</head>

<body layout:fragment="content">

    <div class="container">

        <h1 style="text-align: center;">항공권 조회</h1>
        <h2 style="text-align: center;">가는편</h2>

        <!-- 출발지 - 목적지를 보여주는 섹션 -->
        <section>

            <div id="flight_box">
                <!-- 출발지 - 목적지를 보여주는 박스 -->
            </div>

        </section>

        <!-- 이전날짜 다음날짜 목록을 보여줘서 해당날짜 항공권 목록을 보여주는 섹션(옵션) -->
        <section></section>

        <!-- 항공권 목록을 보여주는 섹션 -->
        <section>

            <table class="table table-striped table-hover table-bordered text-center align-middle" id="productTable" style="margin-top: 100px;">

                <th>
                    <tr class="tr3t" >운항시간</tr> 
                    <tr class="tr2t">항공사</tr> 
                    <tr class="tr1t">편명</tr> 
                    <tr class="tr7t">가격</tr>  
                    <tr class="tr7t">잔여좌석</tr>
                    <tr>장바구니</tr>
                    <tr>예매하기</tr>
                </th>

                <th:block th:if="${bookingList.isEmpty()}">
                    <tr>
                        <tr colspan="7" class="text-center">조회된 항공권이 없습니다.</tr>
                    </tr>
                </th:block>
                
                    <th:block th:each="booking : ${bookingList}">
                        <form action="/booking/info">
                            <tr>
                                <tr class="tr3t" colspan="2"><span th:text="${booking.duration}"></span></tr> 
                                <tr class="tr2t">DramAir</tr> 
                                <tr class="tr1t"><span th:text="${booking.flightName}"></span></tr> 
                                <tr class="tr7t"><span th:text="${booking.productPrice}"></span></tr>  
                                <tr class="tr7t"><span th:text="${booking.seatRemaining}"></span></tr>
                                <tr><a href="" class="btn btn-outline-primary btn-lg">장바구니</a></tr>
                                <input type="hidden" name="productNo" th:value="${booking.productNo}" >
                                <input type="hidden" name="routeNo" th:value="${booking.routeNo}" >
                                <!-- <input type="hidden" name="producId" th:value="${booking.producId}" > -->
                                <!-- 좌석번호, 예매번호는 나중에 insert문 말고 update문으로 값을 추가 -->
                                <tr><input type="submit" value="예매하기" class="btn btn-outline-primary btn-lg"></tr>
                            </tr>
                        </form>
                    </th:block>
               
            </table> 

        </section>

        <div class="d-flex justify-content-between">
            <a href="/" class="btn btn-outline-primary btn-lg">메인으로 가기</a>
        </div>
    </div>
    
</body>
</html>