<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/UI/layout/user_layout}"
      >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마일리지 조회</title>

</head>
<body layout:fragment="content" class="pt-5">

    <div class="container p-4">
        <h1 class="text-center my-3 pt-5">마일리지 조회</h1>
    
        <br>

        <p class="text-center">보유 마일리지 : <span th:text="${user.mileage}"></span></p>


    </div>
</body>
</html>